
    <div class="symbol-palette">
      <h3 class="palette-title">P&ID Symbols</h3>

      <div class="symbol-category">
        <h4>Valves</h4>
        <div class="symbol-grid">
          @for (symbol of getSymbolsByCategory('valve'); track symbol.id) {
            <div class="symbol-item" (click)="onSymbolSelect(symbol)">
              <svg [attr.width]="symbol.width" [attr.height]="symbol.height" class="symbol-svg">
                <path [attr.d]="symbol.svgPath" fill="none"/>
              </svg>
              <span>{{ symbol.name }}</span>
            </div>
          }
        </div>
      </div>

      <div class="symbol-category">
        <h4>Pumps</h4>
        <div class="symbol-grid">
          @for (symbol of getSymbolsByCategory('pump'); track symbol.id) {
            <div class="symbol-item" (click)="onSymbolSelect(symbol)">
              <svg [attr.width]="symbol.width" [attr.height]="symbol.height" class="symbol-svg">
                <path [attr.d]="symbol.svgPath" fill="none"/>
              </svg>
              <span>{{ symbol.name }}</span>
            </div>
          }
        </div>
      </div>

      <div class="symbol-category">
        <h4>Instruments</h4>
        <div class="symbol-grid">
          @for (symbol of getSymbolsByCategory('instrument'); track symbol.id) {
            <div class="symbol-item" (click)="onSymbolSelect(symbol)">
              <svg [attr.width]="symbol.width" [attr.height]="symbol.height" class="symbol-svg">
                <path [attr.d]="symbol.svgPath" fill="none"/>
              </svg>
              <span>{{ symbol.name }}</span>
            </div>
          }
        </div>
      </div>

      <div class="symbol-category">
        <h4>Electrical</h4>
        <div class="symbol-grid">
          @for (symbol of getSymbolsByCategory('electrical'); track symbol.id) {
            <div class="symbol-item" (click)="onSymbolSelect(symbol)">
              <svg [attr.width]="symbol.width" [attr.height]="symbol.height" class="symbol-svg">
                <path [attr.d]="symbol.svgPath" fill="none"/>
              </svg>
              <span>{{ symbol.name }}</span>
            </div>
          }
        </div>
      </div>
    </div>