<app-main-layout
  [isBottomMenuEnabled]="true"
  [isSideMenuEnabled]="true"
>
  <ng-container header>
    <app-router-menu [layout]="'row'"></app-router-menu>
  </ng-container>
  <ng-container left-menu>
    <app-rf-loto-point-left-panel></app-rf-loto-point-left-panel>
  </ng-container>
  <ng-container main-content>
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container bottom-menu>
    <!-- <app-bottom-menu-outlet></app-bottom-menu-outlet> -->
  </ng-container>
</app-main-layout>

<!-- LOTO Point Form Popup - Single Form for non-unit-specific items -->
@if (!isUnitSpecific()) {
  <app-rf-popup-projection
    [isOpen]="stateService.isLotoPointFormOpen()"
    [fullHeight]="true"
    (close)="stateService.closeForm()"
  >
    <app-rf-loto-point-form [fieldsInput]="stateService.formFields()"></app-rf-loto-point-form>
  </app-rf-popup-projection>
}

<!-- LOTO Point Form Popup - Dual Form for unit-specific items (01/02) -->
@if (isUnitSpecific() && stateService.isLotoPointFormOpen() && stateService.selectedItem()) {
  <app-rf-popup-projection
    [isOpen]="true"
    [size]="'large'"
    [fullHeight]="true"
    (close)="stateService.closeForm()"
  >
    <app-loto-point-dual-form
      [primaryLotoPoint]="stateService.selectedItem()!"
      [fieldsToDisplay]="['tagNumber', 'description', 'specificLocation', 'eqType', 'isoPos', 'normPos', 'location', 'zeroEnergy']"
      (primarySaved)="onPrimarySaved()"
      (counterpartSaved)="onCounterpartSaved()"
      (bothSaved)="onBothSaved()"
      (formClosed)="onDualFormClosed()"
    ></app-loto-point-dual-form>
  </app-rf-popup-projection>
}

<!-- Export Dialog -->
<app-export-dialog></app-export-dialog>
