<ul class="toggle-list">
  @for (item of items(); track item.id) {
    <li>
      <div class="item-content"
           [ngClass]="{
             'highlighted': highlightOnHover(),
             'clicked': item.isClicked,
             'last-clicked': item.isLastClicked,
             'level-1': colorLevels() && getItemLevel(item) === 0,
             'level-2': colorLevels() && getItemLevel(item) === 1,
             'level-3': colorLevels() && getItemLevel(item) === 2
           }"
           [style.backgroundColor]="item.color||null"
           (click)="onClick($event, item)"
           (dblclick)="onDoubleClick(item)"
           (contextmenu)="onRightClick($event, item)"
           (mousedown)="onMiddleClick($event, item)">
        <span class="toggle-icon" *ngIf="item.values && item.values.length > 0">
          {{ item.isExpanded ? '▼' : '▶' }}
        </span>
        <span class="item-name">{{ item.name }}</span>
      </div>
      @if (item.isExpanded && item.values && item.values.length > 0) {
        <app-toggle-list
          [items]="item.values"
          [highlightOnHover]="highlightOnHover()"
          [trackLastClicked]="trackLastClicked()"
          [trackAllClicked]="trackAllClicked()"
          [colorLevels]="colorLevels()"
          (itemClicked)="onNestedItemClicked($event)"
          (itemDoubleClicked)="onNestedItemDoubleClicked($event)"
          (itemRightClicked)="onNestedItemRightClicked($event)"
          (itemMiddleClicked)="onNestedItemMiddleClicked($event)">
        </app-toggle-list>
      }
    </li>
  }
</ul>