<div class="file-menu-container">
  <h2>File Menu</h2>
  <div class="file-menu-controls">
    @for (type of fileTypes(); track type) {
      <button class="file-menu-button"
              [class.active]="selectedType() === type"
              (click)="loadFiles(type)">{{ type }}</button>
    }
  </div>
  
  @if (isLoading()) {
    <div>Loading...</div>
  } @else if (error()) {
    <div>Error: {{ error() }}</div>
  } @else {
    <app-toggle-menu
      [menuItems]="menuItems()"
      (itemDblClick)="onItemDoubleClick($event)"
      (itemClick)="onItemClick($event)"
    ></app-toggle-menu>
  }
</div>

<!-- <app-popup-projection
  [isOpen]="isFileFormOpen()"
  [title]="'File Details'"
  [size]="'large'"
  (close)="onFileFormClose()">
  
  @if(!isProcessingFile()){
    <div class="side-by-side-container">
    <div class="form-container">
      <app-file-detail-form
        [values]="currentFile()"
        (formSubmit)="onFormSubmit($event)"
        (formDelete)="onFormDelete()"
      ></app-file-detail-form>
    </div>

    <div class="image-container">
      <app-image-zoom-interactive
        [imageUrl]="selectedImagePath"
        [elements]="elements$">
      </app-image-zoom-interactive>
    </div>
  </div>
  }@else{
    <div class="center-container">
      <p>Processing File...</p>
      <p>{{fileSubmitMessage()}}</p>
      <button (click)="fileUploadMessageWindow()">Back</button>
    </div>
  }
</app-popup-projection> -->

  <app-floating-menu 
    [title]="'File Details'"
    (close)="onFileFormClose()"
    [open]="isFileFormOpen()">
    
      <div class="form-container">
      @if(!isProcessingFile()){
        <div class="side-by-side-container">
        <div class="form-container">
          <app-file-detail-form
            [values]="currentFile()"
            (formSubmit)="onFormSubmit($event)"
            (formDelete)="onFormDelete()"
          ></app-file-detail-form>
        </div>

        <!-- <div class="image-container">
          <app-image-zoom-interactive
            [imageUrl]="selectedImagePath"
            [elements]="elements$">
          </app-image-zoom-interactive>
        </div> -->
      </div>
      }@else{
        <div class="center-container">
          <p>Processing File...</p>
          <p>{{fileSubmitMessage()}}</p>
          <button (click)="fileUploadMessageWindow()">Back</button>
        </div>
      }
    </div>
  </app-floating-menu>