<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">


        <form th:action="@{/file/edit}" th:object="${pid}" method="post">>
            <label>Select File</label>
            <input type="file" th:field="*{file}" id="files"> <br>

            <label for="file-type">File Type</label>
            <select class="ignoreDk" name="file-types" id="file-type" th:field="*{type}" onchange="selectionCheck(this.value,'File Type')">
                <option value="">Select File Type</option>
                <option th:each="e : ${fileTypes}" th:value="${e.name}" th:text="${e.name}"></option>
                <option value="-1">Add New File Type</option>
            </select><br>

            <label for="vendor">Vendor</label>
            <select class="ignoreDk" name="vendors" id="vendor" th:field="*{vendor}" onchange="selectionCheck(this.value,'Vendor')">
                <option value="">Select Vendor</option>
                <option th:each="e : ${vendors}" th:value="${e.name}" th:text="${e.name}"></option>
                <option value="-1">Add New Vendor</option>
            </select><br>

            <label for="system">System</label>
            <select class="ignoreDk" name="systems" id="system" th:field="*{system}" onchange="selectionCheck(this.value,'System')">
                <option value="">Select System</option>
                <option th:each="e : ${systems}" th:value="${e.name}" th:text="${e.name}"></option>
                <option value="-1">Add New System</option>
            </select><br>

            <label for="folder">Folder</label>
            <input type="text" id="folder" th:field="${pid.groupFolder}">
        </form>

</html>