<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">

            <form th:action="@{/file/upload}" th:object="${files}" method="post" enctype="multipart/form-data">>
                <label>Select Files</label>
                <input type="file" th:field="*{files}" id="files" multiple> <br>

                <label for="file-type">File Type</label>
                <select class="ignoreDk" name="file-types" id="file-type" th:field="*{type}" onchange="selectionCheck(this.value,'File Type')">
                    <option value="">Select File Type</option>
                    <option th:each="e : ${fileTypes}" th:value="${e.name}" th:text="${e.name}"></option>
                    <option value="-1">Add New File Type</option>
                </select><br>

                <label for="vendor">Vendor</label>
                <select class="ignoreDk" name="vendors" id="vendor" th:field="*{vendor}" onchange="selectionCheck(this.value,'Vendor')">
                    <option value="">Select Vendor</option>
                    <option th:each="e : ${vendors}" th:value="${e.name}" th:text="${e.name}"></option>
                    <option value="-1">Add New Vendor</option>
                </select><br>

                <label for="folder">Folder</label>
<!--                <select class="ignoreDk" name="folders" id="folder" th:field="*{folder}" onchange="selectionCheck(this.value,'Folder')">-->
<!--                    <option value="">Select Folder</option>-->
<!--                    <option th:each="e : ${folders}" th:value="${e.name}" th:text="${e.name}"></option>-->
<!--                    <option value="-1">Add New Folder</option>-->
<!--                </select><br>-->
                <input type="text" th:field="*{folder}" id="folder">
                <button type="submit">Submit</button>
            </form>

</html>