<app-main-layout>
  <ng-container header>
    <div class="header-menus">
      <div class="menu-container">
        <app-router-menu [layout]="'row'"></app-router-menu>
      </div>
      <div class="menu-container">
        <app-router-menu [menuItems]="navMenuItems" [layout]="'row'"></app-router-menu>
      </div>
    </div>
  </ng-container>
  <ng-container left-menu>
    @if(currentRoute === 'jobs'){
      <app-job-log-left-menu></app-job-log-left-menu>
    }@else if(currentRoute === 'daily-packages'){
      <app-daily-permit-package-side-menu></app-daily-permit-package-side-menu>
    }
     <!-- <app-left-menu-outlet></app-left-menu-outlet> -->
  </ng-container>
  <ng-container main-content>
    <router-outlet></router-outlet>
  </ng-container>
</app-main-layout>
