<app-main-layout>
  <ng-container header>
    <div class="header-menus">
      <div class="menu-container">
        <app-router-menu [layout]="'row'"></app-router-menu>
      </div>
      <div class="menu-container">
        <app-router-menu [menuItems]="navMenuItems" [layout]="'row'"></app-router-menu>
      </div>
    </div>
  </ng-container>
  <ng-container left-menu class="left-menu-container">
    @if(currentRoute === 'jobs'){
      <app-job-log-left-menu></app-job-log-left-menu>
    }@else if(currentRoute === 'daily-packages'){
      <app-daily-permit-package-side-menu></app-daily-permit-package-side-menu>
    }@else if(currentRoute === 'work-requests'){
    }@else if(currentRoute === 'safe-works'){
      <app-safe-work-side-menu></app-safe-work-side-menu>
    }@else if(currentRoute === 'hot-works'){
      <app-hot-work-side-menu></app-hot-work-side-menu>
    }@else if(currentRoute === 'confined-spaces'){
      <app-confined-space-side-menu></app-confined-space-side-menu>
    }
     <!-- <app-left-menu-outlet></app-left-menu-outlet> -->
  </ng-container>
  <ng-container main-content>
    <router-outlet></router-outlet>
  </ng-container>
</app-main-layout>
