<div class="multi-select-container">
  <label>{{ label }}</label>
  <div class="selected-options">
    @for (value of selectedValues; track value) {
      <div class="selected-option">
        @if (allOptions$ | async; as options) {
          {{ ((options | find: 'value': value)?.label ?? value) }}
          <!-- {{ (options | find: 'value': value)!.label }} -->
        }
        <button type="button" (click)="removeOption(value)">X</button>
      </div>
    }
  </div>
  <app-searchable-select-input
    [label]="''"
    [options]="availableOptions$"
    [categoryName]="categoryName()"
    [closeOnSelect]="false"
    (editOption)="onEditOption()"
    (addNewOption)="onAddNewOption()"
    (valueChange)="onSelect($event)"
  ></app-searchable-select-input>
</div>
