<app-shared-table
  [columns]="columns"
  [items]="initialItems$"
  [isDragAndDropEnabled]="isReorderEnabled()"
  [clickCallback]="onLeftClick.bind(this)"
  [doubleClickCallback]="onDoubleClick.bind(this)"
  [rightClickCallback]="onRightClick.bind(this)"
  [middleClickCallback]="onMiddleClick.bind(this)"
  [cellDoubleClickCallback]="onColumnDoubleClick.bind(this)"
  (loadMoreItems)="loadMoreItems($event)"
  (itemsReordered)="onItemReordered($event)"
  (search)="onSearch($event)">
  <ng-container table-controls>
    <button (click)="exportToExcel()">Export To Excel</button>
  </ng-container>
</app-shared-table>

<!-- <app-popup
  [isOpen]="isPopupOpen"
  [title]="'LOTO Point Details'"
  [contentComponent]="LotoPointDetailFormComponent"
  [contentInputs]="{
    values: selectedItem,
    formSubmit: onFormSubmit.bind(this),
    formDelete: onFormDelete.bind(this),
    imageUrls$: relatedImages$,
    selectedItem: selectedItem
  }"
  (close)="closePopup()"
></app-popup> -->

<app-popup-projection
  [isOpen]="isPopupOpen"
  [title]="'LOTO Point Details'"
  [size]="'medium'"
  (close)="closePopup()"
  >
<app-loto-point-detail-form
  [values]="selectedItem"
  [imageUrls$]="relatedImages$"
  [selectedItem]="selectedItem"
  (formSubmit)="onFormSubmit($event)"
  (formDelete)="onFormDelete()"
></app-loto-point-detail-form>
</app-popup-projection>

@if(isExporting()){
  <app-popup-projection
    [isOpen]="true"
    [title]="'Exporting to Excel'"
    [size]="'medium'"
    (close)="cancelExport()">
    <h1>Exporting is in Progress...</h1>
    <p>If export fails, make sure that previously exported file is closed(you can save it as a new file if needed).</p>
    <p>{{exportMessage()}}</p>
    <button (click)="cancelExport()">Cancel</button>
</app-popup-projection>
}
