<app-shared-table
  [columns]="columns"
  [initialItems]="initialItems$"
  (loadMoreItems)="loadMoreItems($event)"
  (search)="onSearch($event)"
  [clickCallback]="onItemClick">
</app-shared-table>

<app-popup
  [isOpen]="isPopupOpen"
  [title]="'LOTO Point Details'"
  [contentComponent]="LotoPointDetailFormComponent"
  [contentInputs]="{
    values: selectedItem,
    formSubmit: onFormSubmit.bind(this),
    formDelete: onFormDelete.bind(this),
    imageUrls$: relatedImages$,
    selectedItem: selectedItem
  }"
  (close)="closePopup()"
></app-popup>