<app-shared-table
  [columns]="columns"
  [initialItems]="initialItems$"
  [clickCallback]="onLeftClick.bind(this)"
  [doubleClickCallback]="onDoubleClick.bind(this)"
  [rightClickCallback]="onRightClick.bind(this)"
  [middleClickCallback]="onMiddleClick.bind(this)"
  (loadMoreItems)="loadMoreItems($event)"
  (search)="onSearch($event)">
</app-shared-table>

<app-popup
  [isOpen]="isPopupOpen"
  [title]="'LOTO Point Details'"
  [contentComponent]="LotoPointDetailFormComponent"
  [contentInputs]="{
    values: selectedItem,
    formSubmit: onFormSubmit.bind(this),
    formDelete: onFormDelete.bind(this),
    imageUrls$: relatedImages$,
    selectedItem: selectedItem
  }"
  (close)="closePopup()"
></app-popup>