<div class="table-wrapper">
  <div class="table-controls">
    <div class="default-controls">
      <div class="button-row">
        <button (click)="onDeleteSelectedItems()">Delete Selected</button>
        <ng-content select="[table-controls]"></ng-content>
      </div>
      <div class="search-row">
        <input type="text" class="search-input" placeholder="Global Search..." 
               [(ngModel)]="globalSearchQuery" 
               (ngModelChange)="onGlobalSearchChange()">
      </div>
    </div>
  </div>

  <div class="table-container" #tableContainer (scroll)="handleScroll($event)">
    <table>
      <thead>
        <tr>
          @for (column of columns; track column.id) {
            <th (click)="sortColumn(column)">
              {{ column.header }}
              <div class="resizer"></div>
            </th>
          }
        </tr>
        <tr>
          @for (column of columns; track column.id) {
            <th>
              <input type="text" class="filter-input" 
                     [placeholder]="'Filter ' + column.header" 
                     [(ngModel)]="columnFilters[column.id]" 
                     (ngModelChange)="onColumnSearchChange()">
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of filteredItems; track item.id) {
          <tr 
          (mouseenter)="onRowHover(item)"
          (click)="onRowClick(item, $event)"
          (dblclick)="onRowDoubleClick(item)"
          (contextmenu)="onRowRightClick(item, $event)"
          (auxclick)="onRowClick(item, $event)"
          [class.selected]="selectedItems.includes(item)">
            @for (column of columns; track column.id) {
              <td (click)="registerLastClickedCell(item,column,$event)">{{ getCellValue(item, column) }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

