.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.default-controls {
  display: flex;
  gap: 10px;
} */

.table-container {
  flex: 1;
  overflow: auto;
  overflow-x: auto;
  max-height: calc(100vh - 150px);
}

table {
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f8f8f8;
}

th {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1;
  box-shadow: 0 1px 0 0 #ddd;
  cursor: pointer;
}

thead tr:nth-child(2) th {
  top: 41px; /* Adjust based on the height of your first header row */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}


.table-controls {
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.default-controls {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.button-row button {
  margin-right: 10px;
}

.search-row {
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
}

.search-input, .filter-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: #f5f5f5;
}


/* Ensure scrollbar is always visible */
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* For Firefox */
.table-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.5) transparent;
}

tr.selected {
  background-color: #e0f7fa;
  font-weight: bold;
}

tr.selected:hover {
  background-color: #b2ebf2;
}


.highlighted {
  background-color: #ffff99; /* Light yellow background */
  transition: background-color 0.5s ease;
}