@if (isFormReady()) {
  <button (click)="applyPresetData()">Apply Preset Data</button>
  <button (click)="setPresetData()">Use This Form As Preset Data</button>
  <app-reactive-form
    [fields]="fields()"
    [values]="values()"
    [layout]="'column'"
    (formSubmit)="onFormSubmit($event)"
    (formDelete)="onFormDelete()">
  </app-reactive-form>

  @if (imageUrls$ | async; as imageUrls) {
    @if (imageUrls.length > 0) {
      <app-image-carousel
        [images]="imageUrls"
        [equipmentFilter]="equipmentFilter$ | async | nonNullable">
      </app-image-carousel>
    } @else {
      <!-- <p>No images found.</p> -->
    <div class="table-container">
      <app-file-table
      ></app-file-table>
    </div>
    }
  } @else {
    <div class="table-container">
      <app-file-table
      ></app-file-table>
    </div>

  }

} @else {
  <p>Loading form...</p>
}

<!-- <app-popup-projection
  [isOpen]="isEditorPopupOpen"
  (close)="toggleEditorPopup()"
>
  <app-file-editor></app-file-editor>
</app-popup-projection> -->

