@if (isFormReady()) {
  <button (click)="applyPresetData()">Apply Preset Data</button>
  <button (click)="setPresetData()">Use This Form As Preset Data</button>
  <app-reactive-form
    [fields]="fields()"
    [values]="values()"
    (formSubmit)="onFormSubmit($event)"
    (formDelete)="onFormDelete()">
  </app-reactive-form>

  @if (imageUrls$ | async; as imageUrls) {
    @if (imageUrls.length > 0) {
      <app-image-carousel
        [images]="imageUrls"
        [equipmentFilter]="equipmentFilter$ | async | nonNullable">
      </app-image-carousel>
    } @else {
      <p>No images found.</p>
    }
  } @else {
    <p>Loading images...</p>
  }

  <!-- <button type="button" (click)="onOpenImage()">Open Image</button> -->
} @else {
  <p>Loading form...</p>
}