<app-catchup-banner></app-catchup-banner>
<router-outlet></router-outlet>
<app-print-layout></app-print-layout>
<app-global-message></app-global-message>
<app-global-context-menu></app-global-context-menu>
<app-qr-scanner></app-qr-scanner>
<app-brady-printer-manager></app-brady-printer-manager>
<app-engraver-manager></app-engraver-manager>
<app-loto-point-bulk-create-dialog></app-loto-point-bulk-create-dialog>

<!-- Wizard Dialog -->
<app-wizard-dialog />

<!-- Comments Dialog -->
<app-comments-dialog />

<!-- Correspondence Dialog -->
<app-correspondence-dialog />

<!-- Conversation/Messaging Dialog -->
<app-conversation-dialog />

<!-- QA Help Dialog -->
<app-qa-dialog />

<!-- WR Detail Dialog -->
<app-wr-detail-dialog />

<!-- Attachment Dialog -->
<app-attachment-dialog />

<!-- Process WR Dialog -->
<app-process-wr-dialog />
