

<div class="multi-input-container">
    <label>{{ label }}</label>
    <div class="input-values">
      @for (value of values; track $index) {
        <div class="input-value">
          <input
            [type]="type"
            [(ngModel)]="values[$index]"
            (ngModelChange)="onValueChange($index, $event)"
            (blur)="onInputBlur()"
          >
          <button type="button" (click)="removeValue($index)">X</button>
        </div>
      }
    </div>
    <button type="button" (click)="addValue()">Add</button>
  </div>

