.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: relative;
  background-color: #3f51b5;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  flex-grow: 1;
}

.toggle-menu-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* .left-menu {
  background-color: #f0f0f0;
  padding: 1rem;
  overflow-y: auto;
} */

.left-menu {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; 
}

.resizer {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
}

.main-and-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: auto;
}

.footer-resizer {
  height: 5px;
  background-color: #ccc;
  cursor: row-resize;
}

.footer {
  overflow: auto;
}

/* .layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #3f51b5;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-menu {
  background-color: #f0f0f0;
  padding: 1rem;
  overflow-y: auto;
}

.resizer {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
}

.main-and-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: auto;
  min-height: 0;
}

.footer-resizer {
  height: 5px;
  background-color: #ccc;
  cursor: row-resize;
}

.footer {
  overflow: auto;
  min-height: 0;
} */
