
<div class="layout-container">
  <header class="header">
    <h1>Jackson Generation</h1>
    <app-router-menu [menuItems]="menuItems()" [layout]="'row'"></app-router-menu>
    <button class="toggle-menu-btn" (click)="toggleMenu()">Toggle Menu</button>
  </header>

  <div class="content-wrapper">
    <nav class="left-menu" id="leftMenu" #leftMenu [style.width.px]="menuWidth">

    </nav>
    <div class="resizer" id="resizer" #resizer (mousedown)="onResizerMouseDown($event)"></div>
    <main class="main-content" #mainContent>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>