<!-- <div class="form-container">
    @if(isFormReady()){
        <app-reactive-form
            [fields]="fields()"
            [values]="values()"
            [layout]="'column'"
            [title]="'Hot Work'"
            (formValueChange)="valuesChange.emit($event)"
            (formSubmit)="onFormSubmit($event)"
            (formDelete)="onFormDelete()"
        ></app-reactive-form>

    }@else {
        <p>Loading form...</p>
    }
</div> -->
<div class="form-container">
    @if(isFormReady()){
        <app-smart-form
            [fields]="fields()"
            [values]="values"
            [driftEntityType]="'HotWork'"
            [layout]="'column'"
            [title]="'Hot Work'"
            [submitButtonText]="submitButtonText()"
            [deleteButtonText]="deleteButtonText()"
            (formValueChange)="valuesChange.emit($event)"
            (formSubmit)="onFormSubmit($event)"
            (formDelete)="onFormDelete()"
        ></app-smart-form>

    }@else {
        <p>Loading form...</p>
    }
</div>