<div class="permit-package-container">

  <div class="package-submission-section">
    <div class="form-controls">
      <div class="form-group">
        <div class="package-name-container">
            <label for="packageName">Package Name:</label>
            <input 
                type="text" 
                id="packageName" 
                class="package-name-input" 
                [ngModel]="currentPackage().name"
                (ngModelChange)="onFieldChange('name', $event)"
                placeholder="Enter package name">
        </div>
        <div class="company-name-container">
            <label for="companyName">Company Name:</label>
            <input 
                type="text" 
                id="companyName" 
                class="company-name-input" 
                [ngModel]="currentPackage().companyName"
                (ngModelChange)="onFieldChange('companyName', $event)"
                placeholder="Enter company name">
        </div>
        <div class="person-name-container">
            <label for="personName">Person Name:</label>
            <input 
                type="text" 
                id="personName" 
                class="person-name-input" 
                [ngModel]="currentPackage().personName"
                (ngModelChange)="onFieldChange('personName', $event)"
                placeholder="Enter person's name">
        </div>
      </div>
      <button class="submit-button" (click)="onSubmitPackage()" [disabled]="!currentPackage().name">Submit Permit Package</button>
      <button class="submit-button" (click)="reusePermitsPopupOpen()">Get Permits From Another Package</button>
      <button class="delete-button" (click)="onDeletePackage()" [disabled]="currentPackage().id===0">Delete Permit Package</button>
      <button class="delete-button" (click)="currentDailyPermitPackageService.build()" [disabled]="currentPackage().id===0">Build Package</button>
    </div>
  </div>
    
    <div class="toggle-buttons">
      <button (click)="toggleSafeWorkVisibility()" [disabled]="safeWorkCount()===0">
        {{ isSafeWorkVisible ? 'Hide' : 'Show' }} Safe Work
      </button>

      <button (click)="toggleConfinedSpaceVisibility()" [disabled]="confinedSpaceCount()===0">
        {{ isConfinedSpaceVisible ? 'Hide' : 'Show' }} Confined Space
      </button>

      <button (click)="toggleHotWorkVisibility()" [disabled]="hotWorkCount()===0">
        {{ isHotWorkVisible ? 'Hide' : 'Show' }} Hot Work
      </button>

      <button (click)="toggleWorkRequestVisibility()">
        {{ isWorkRequestVisible ? 'Hide' : 'Show' }} Work Request
      </button>
      <button (click)="toggleLotoVisibility()">
        {{ isLotoVisible ? 'Hide' : 'Show' }} LOTO
      </button>
      <button (click)="openPaperFormPopup()">Open Paper Forms</button>
    </div>

  @if(isWorkRequestVisible){
    <app-item-carousel 
      [items]="requests()" 
      title="Work Requests" 
      (itemChangedEvent)="currentDailyPermitPackageService.currentWorkRequest.set($event)"
      (addItemEvent)="attachNew('Work Request')">
      <ng-template let-wr>
        <app-work-request-display [workRequest]="wr"></app-work-request-display>
      </ng-template>
        <button [disabled]="requestCount()===0" (click)="currentDailyPermitPackageService.generateAllPermitsFromCurrentRequest()">Generate</button>
    </app-item-carousel>
  }

  <div class="permits-section">
    @if(isSafeWorkVisible){
      <app-item-carousel 
        [items]="safeWorks()" 
        title="Safe Works" 
        (itemChangedEvent)="currentDailyPermitPackageService.currentSafeWork.set($event)"
        (addItemEvent)="attachNew('Safe Work')">
        <ng-template let-sw>
          <app-safe-work-form 
            [values]="sw" 
            [submitButtonText]="'Build In Red Tag'"
            (valuesChange)="currentDailyPermitPackageService.submitSafeWork($event)"
            (formSubmit)="buildInRedTag($event, 'safeWork')"
            (formDelete)="currentDailyPermitPackageService.removeAttachment($event, 'safeWorks')">
          </app-safe-work-form>
        </ng-template>
        <button [disabled]="requestCount()===0" (click)="currentDailyPermitPackageService.generateSafeWorkFromCurrentRequest()">Generate</button>
        <button [disabled]="emptySafeWorksExists()" (click)="addSafeWork()">Add Empty</button>
      </app-item-carousel>
    }
    @if(isHotWorkVisible){
      <app-item-carousel 
        [items]="hotWorks()" 
        title="Hot Works" 
        (itemChangedEvent)="currentDailyPermitPackageService.currentHotWork.set($event)"
        (addItemEvent)="attachNew('Hot Work')">
        <ng-template let-hw>
          <app-hot-work-form 
            [values]="hw"
            [submitButtonText]="'Build In Red Tag'"
            (valuesChange)="currentDailyPermitPackageService.submitHotWork($event)"
            (formSubmit)="buildInRedTag($event, 'hotWork')"
            (formDelete)="currentDailyPermitPackageService.removeAttachment($event, 'hotWorks')"
          ></app-hot-work-form>
        </ng-template>
        <button [disabled]="requestCount()===0" (click)="currentDailyPermitPackageService.generateHotWorkFromCurrentRequest()">Generate</button>
        <button [disabled]="emptyHotWorksExists()" (click)="addHotWork()">Add Empty</button>
      </app-item-carousel>
    }
    @if(isConfinedSpaceVisible){
      <app-item-carousel 
        [items]="confinedSpaces()" 
        title="Confined Spaces" 
        (itemChangedEvent)="currentDailyPermitPackageService.currentConfinedSpace.set($event)"
        (addItemEvent)="attachNew('Confined Space')">
        <ng-template let-cs>
          <app-confined-space-form 
            [values]="cs"
            [submitButtonText]="'Build In Red Tag'"
            (valuesChange)="currentDailyPermitPackageService.submitConfinedSpace($event)"
            (formSubmit)="buildInRedTag($event, 'confinedSpace')"
            (formDelete)="currentDailyPermitPackageService.removeAttachment($event, 'confinedSpaces')"
          ></app-confined-space-form>
        </ng-template>
        <button [disabled]="requestCount()===0" (click)="currentDailyPermitPackageService.generateConfinedSpaceFromCurrentRequest()">Generate</button>
        <button [disabled]="emptyConfinedSpacesExists()" (click)="addConfinedSpace()">Add Empty</button>
      </app-item-carousel>
    }
    @if(isLotoVisible){
      <app-item-carousel 
        [items]="lotos()" 
        title="LOTO" 
        (itemChangedEvent)="currentDailyPermitPackageService.currentLoto.set($event)"
        (addItemEvent)="attachNew('LOTO')">
        <ng-template let-loto>
          <app-loto-detail-form
            [values]="loto"
            [withLotoPointDataBase]="false"
            (formSubmitEvent)="buildInRedTag($event, 'loto')"
            (formDeleteEvent)="currentDailyPermitPackageService.removeAttachment($event, 'lotos')"
          ></app-loto-detail-form>
        </ng-template>
        <!-- <button [disabled]="requestCount()===0" (click)="currentDailyPermitPackageService.generateLotoFromCurrentRequest()">Generate</button>
        <button [disabled]="emptyLotsExists()" (click)="addLoto()">Add Empty</button> -->
      </app-item-carousel>
    }
  </div>

</div>

<app-popup-projection
  [title]="'Attach '+popupTitle"
  [isOpen]="isPopupVisible"
  (close)="closePopup()">

  @switch (popupTitle) {
    @case ('Work Request') {
      @if(isPopupStepOne){
        <button (click)="handlePopupStepOne(false)">Attach New</button>
        <button (click)="handlePopupStepOne(true)">Attach Existing</button>
      }@else{
        @if(isAttachingExisting){
          <app-work-request-table
            (rowLeftClickEvent)="attachExisting($event, 'workRequests')"
          ></app-work-request-table>
        }@else {
          <app-work-request-form
            (formSubmit)="addWorkRequest($event)"
          ></app-work-request-form>
        }
      }
      
    }
    @case ('Safe Work') {
      @if(isPopupStepOne){
        <button (click)="handlePopupStepOne(false)">Attach New</button>
        <button (click)="handlePopupStepOne(true)">Attach Existing</button>
      }@else{
        @if(isAttachingExisting){
          <app-safe-work-table
            (rowLeftClickEvent)="attachExisting($event,'safeWorks')"
          ></app-safe-work-table>
        }@else {
          <app-safe-work-paper-form
            (submitEvent)="addSafeWork($event)"
          ></app-safe-work-paper-form>
        }
      }

    }
    @case ('Hot Work') {
      @if(isPopupStepOne){
        <button (click)="handlePopupStepOne(false)">Attach New</button>
        <button (click)="handlePopupStepOne(true)">Attach Existing</button>
      }@else{
        @if(isAttachingExisting){
          <app-hot-work-table
            (rowLeftClickEvent)="attachExisting($event, 'hotWorks')"
          ></app-hot-work-table>
        }@else {
          <app-hot-work-paper-form
            (submitEvent)="addHotWork($event)"
          ></app-hot-work-paper-form>
        }
      }
    }
    @case ('Confined Space') {
      @if(isPopupStepOne){
        <button (click)="handlePopupStepOne(false)">Attach New</button>
        <button (click)="handlePopupStepOne(true)">Attach Existing</button>
      }@else{
        @if(isAttachingExisting){
          <app-confined-space-table
            (rowLeftClickEvent)="attachExisting($event, 'confinedSpaces')"
          ></app-confined-space-table>
        }@else {
          <app-confined-space-paper-form
            (formSubmit)="addConfinedSpace($event)"
          ></app-confined-space-paper-form>
        }
      }
    }
    @case ('LOTO') {
      @if(isPopupStepOne){
        <button (click)="handlePopupStepOne(false)">Attach New</button>
        <button (click)="handlePopupStepOne(true)">Attach Existing</button>
      }@else{
        @if(isAttachingExisting){
          <app-loto-table
            (onTableRowLeftClickEvent)="attachExisting($event, 'lotos')"
          ></app-loto-table>
        }@else {
          <app-loto-detail-form
            (formSubmitEvent)="addLoto($event)"
          ></app-loto-detail-form>
        }
      }
    }
    @default {
      <!-- Handle other popup types as needed -->
    }
  }
</app-popup-projection>


<app-popup-projection
  [title]="'Paper Forms'"
  [isOpen]="isPaperFormPopupOpen"
  (close)="closePaperFormPopup()">
    
    <div class="toggle-buttons">
      <button (click)="toggleSafeWorkVisibility()" [disabled]="safeWorkCount()===0">
        {{ isSafeWorkVisible ? 'Hide' : 'Show' }} Safe Work
      </button>

      <button (click)="toggleConfinedSpaceVisibility()" [disabled]="confinedSpaceCount()===0">
        {{ isConfinedSpaceVisible ? 'Hide' : 'Show' }} Confined Space
      </button>

      <button (click)="toggleHotWorkVisibility()" [disabled]="hotWorkCount()===0">
        {{ isHotWorkVisible ? 'Hide' : 'Show' }} Hot Work
      </button>
    </div>
  <div class="paper-forms-container">
    @if(isSafeWorkVisible){
      @for(sw of safeWorks(); track sw.id){
        <app-safe-work-paper-form
          [dataInput]="sw"
          (changeEvent)="currentDailyPermitPackageService.submitSafeWork($event)"
        ></app-safe-work-paper-form>}
    }
    @if(isHotWorkVisible){
      @for(hw of hotWorks(); track hw.id){
        <app-hot-work-paper-form
          [dataInput]="hw"
          (changeEvent)="currentDailyPermitPackageService.submitHotWork($event)"
        ></app-hot-work-paper-form>}
    }

    @if(isConfinedSpaceVisible){
      @for(cs of confinedSpaces(); track cs.id){
        <app-confined-space-paper-form
          [dataInput]="cs"
          (changeEvent)="currentDailyPermitPackageService.submitConfinedSpace($event)"
        ></app-confined-space-paper-form>}
    }
    @if(isLotoVisible){
      @for(loto of lotos(); track loto.id){
        <app-loto-paper-form
          [dataInput]="loto"
        ></app-loto-paper-form>}
    }
  </div>
</app-popup-projection>


<app-popup-projection
  [title]="'Re-Issue Permits'"
  [isOpen]="isReusePermitsPopupVisible"
  (close)="reusePermitsPopupClose()">

  <app-daily-permit-package-table
    (rowLeftClickEvent)="reissuePermits($event)"
  ></app-daily-permit-package-table>

</app-popup-projection>