
.smallBtn {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: none;
    border: 1px solid aliceblue;
    border-radius: 5px;
    cursor: auto;
    position: relative;
    transition: all 0.3s ease;
    margin: 2px;
    background-color: black;
    cursor: pointer;
}
.green {
    box-shadow: 0 0 1px greenyellow, 0 0 20px greenyellow, 0 0 10px greenyellow;
}

.green-no-nover {
    box-shadow: 0 0 1px greenyellow, 0 0 20px greenyellow, 0 0 10px greenyellow;
}

.green:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px greenyellow, 0 0 20px greenyellow, 0 0 60px greenyellow;
}

.blue {
    box-shadow: 0 0 1px skyblue, 0 0 20px skyblue, 0 0 10px skyblue;
}

.blue-no-hover {
    box-shadow: 0 0 1px skyblue, 0 0 20px skyblue, 0 0 10px skyblue;
}

.blue:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px skyblue, 0 0 20px skyblue, 0 0 60px skyblue;
}

.yellow {
    box-shadow: 0 0 1px yellow, 0 0 20px yellow, 0 0 10px yellow;
}

.yellow-no-hover {
    box-shadow: 0 0 1px yellow, 0 0 20px yellow, 0 0 10px yellow;
}

.yellow:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 60px yellow;
}


.red {
    box-shadow: 0 0 1px red, 0 0 20px red, 0 0 10px red;
}

.red:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 60px red;
}

.aqua {
    box-shadow: 0 0 1px aqua, 0 0 20px aqua, 0 0 10px aqua;
}

.aqua:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 60px aqua;
}

.purple {
    box-shadow: 0 0 1px purple, 0 0 20px purple, 0 0 10px purple;
}

.purple:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 60px purple;
}

.orange {
    box-shadow: 0 0 1px orange, 0 0 20px orange, 0 0 10px orange;
}

.orange:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 60px orange;
}

.lime {
    box-shadow: 0 0 1px lime, 0 0 20px lime, 0 0 10px lime;
}

.lime:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 60px lime;
}

.teal {
    box-shadow: 0 0 1px teal, 0 0 20px teal, 0 0 10px teal;
}

.teal:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px teal, 0 0 20px teal, 0 0 60px teal;
}