#menu-resize{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 5px;
    position: absolute;
    z-index: 3;
    top:0;
    right:0;
    cursor: col-resize;
}

#menu-layers{
    display: flex;
    flex-direction: column;
}

