*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#all{
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#upper{
    position: relative;
    background-color: black;
    height: 70px;
    width: 100%;
    z-index: 10;

}

#middle{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
}

#pin-menu{
    height: 100%;
    position: relative;
    left:0;
    z-index: 10;
}

#left{
    position: relative;
    width:fit-content;
    min-width: 70px;
    background-color: rgb(71, 23, 116);
    height: 100%;
    z-index: 10;
}

#right{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgb(106, 126, 126);
    z-index: 1;
}

#lower{
    position: relative;
    background-color: black;
    height: 70px;
    width: 100%;
    z-index: 10;

}

