<button class="resubmit-button" (click)="openTablePopup()">Resubmit Previous Request</button>

@if (jhaStateService.jhaTransfersSignal().length > 0) {
    <h3>JHA that needs to be filled out</h3>
    <ul>
        @for (transfer of jhaStateService.jhaTransfersSignal(); track transfer.requestSharepointId) {
            <li>
                Work Request #{{ transfer.requestSharepointId }}: {{ transfer.workScope }} ({{ transfer.dateOfWork | date:'shortDate' }})
            </li>
        }
    </ul>
} @else {
    <p>No new JHAs need to be filled out at this time.</p>
}

<app-jha-form></app-jha-form>
<app-popup
    [title]="'Table contains previously submitted requests from THIS divice and THIS browser'"
    [size]="'large'"
    [isOpen]="isTablePopupOpen"
    (close)="closeTablePopup()"
>
    <app-jha-table></app-jha-table>
</app-popup>