<div class="carousel-container">
  <button class="nav-button left" (click)="scrollToLeft()">&lt;</button>
  <div class="carousel" #carousel>
    @for (image of displayImages(); track image) {
      <img [src]="image" (click)="onImageClick(image)" alt="Carousel image">
    }
  </div>
  <button class="nav-button right" (click)="scrollToRight()">&gt;</button>
</div>

@if(isImagePopupOpen){
  <!-- <app-popup
    [isOpen]="isImagePopupOpen"
    [title]="'Image View'"
    [contentComponent]="ImageZoomInteractiveComponent"
    [contentInputs]="{
      imageUrl: (selectedImage$ | async)?.fileLink,
      imageName: (selectedImage$ | async)?.name,
      elements: elements$
    }"
    (close)="isImagePopupOpen = false"
  ></app-popup> -->

  <app-popup-projection
    [isOpen]="isImagePopupOpen"
    [title]="'Image View'"
    (close)="isImagePopupOpen=false"
  >
    <app-image-zoom-interactive
      *ngIf="selectedImage$ | async as selectedImage"
      [imageUrl]="imageUrl()"
      [elements]="elements$!"
      (close)="closeImagePopup()"
    ></app-image-zoom-interactive>
  </app-popup-projection>
}

<!-- <div class="carousel-container">
  <button class="nav-button left" (click)="scrollToLeft()">&lt;</button>
  <div class="carousel" #carousel>
    @for (image of images; track image) {
      <img [src]="image" (click)="onImageClick(image)" alt="Carousel image">
    }
  </div>
  <button class="nav-button right" (click)="scrollToRight()">&gt;</button>
</div> -->