
<nav class="router-menu" [ngClass]="layout()">
  @if (useGrouped() && filteredGroupedMenu()) {
    <div class="menu-container">
      <!-- Primary row: Home + Group links -->
      <ul class="primary-menu">
        <li class="home-link">
          <a routerLink="/"><span class="material-icons nav-icon">home</span> Home</a>
        </li>
        @for (group of filteredGroupedMenu(); track group.label; let i = $index) {
          <li class="menu-group-link" [class.active]="isGroupActive(group)" [style.--group-color]="group.color"
              (mouseenter)="showDropdown(group)" (mouseleave)="hideDropdown()">
            <a [routerLink]="group.defaultRoute">
              @if (group.icon) {
                <span class="material-icons nav-icon">{{ group.icon }}</span>
              }
              {{ group.label }}
              <kbd class="shortcut-badge">Alt+{{ i + 1 }}</kbd>
            </a>
            <!-- Hover dropdown -->
            @if (hoveredGroup() === group && !isGroupActive(group)) {
              <ul class="dropdown-menu" [style.--group-color]="group.color"
                  (mouseenter)="keepDropdown()" (mouseleave)="hideDropdown()">
                @for (item of group.items; track item.route) {
                  <li [class.separator]="item.separator">
                    <a [routerLink]="item.route" routerLinkActive="active-link" (click)="closeDropdown()">
                      @if (item.icon) {
                        <span class="material-icons sub-icon" [style.color]="item.iconColor">{{ item.icon }}</span>
                      }
                      {{ item.label }}
                    </a>
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>

      <!-- Secondary row: Items for active group -->
      @if (showSecondaryMenu() && activeGroup()) {
        <ul class="secondary-menu" [style.--group-color]="activeGroup()!.color">
          @for (item of activeGroup()!.items; track item.route) {
            <li [appGuide]="item.guideId || ''"
                [guideMessage]="item.guideMessage || ''"
                [class.separator]="item.separator">
              <a [routerLink]="item.route" routerLinkActive="active-link">
                @if (item.icon) {
                  <span class="material-icons sub-icon" [style.color]="item.iconColor">{{ item.icon }}</span>
                }
                {{ item.label }}
              </a>
            </li>
          }
        </ul>
      }
    </div>
  } @else if (menuItems()) {
    <ul>
      @for (item of menuItems(); track item.route) {
        <li [appGuide]="item.guideId || ''"
            [guideMessage]="item.guideMessage || ''">
          <a [routerLink]="item.route">{{ item.label }}</a>
        </li>
      }
    </ul>
  } @else {
    <p>No menu items available.</p>
  }
</nav>
