:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  padding: 1rem;
}

.panels-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

app-loto-standard-table {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0; /* This is crucial for nested flex containers */
  overflow: auto;
}

.resizable-panel {
  overflow: auto;
  transition: height 0.1s;
}

.top-panel {
  flex: 1 1 50%;
  min-height: 50px;
}

.bottom-panel {
  flex: 1 1 50%;
  min-height: 50px;
}

.resize-handle {
  height: 10px;
  background-color: #ccc;
  cursor: ns-resize;
  user-select: none;
  flex: 0 0 auto;
  z-index: 10000;
}



.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.action-button:hover {
  transform: translateY(-2px);
}

.action-button:active {
  transform: translateY(1px);
}

.action-button:first-child {
  background-color: #4CAF50;
  color: white;
}

.action-button:first-child:hover {
  background-color: #45a049;
}

.create-button {
  background-color: #008CBA;
  color: white;
}

.create-button:hover {
  background-color: #007B9E;
}