<div class="container">
  @if(allStandardsSignal()!==null && allStandardsSignal().length>0 && !currentLotoStandardSignal()){
    <app-loto-standard-table
    ></app-loto-standard-table>
  }@else {
  <div class="resizable-panel top-panel">
    <app-loto-standard-form
      [lotoStandard]="currentLotoStandard()"
      (updateNameEvent)="onLotoStandardFormSubmit($event)"
      (updateDescriptionEvent)="onLotoStandardFormSubmit($event)"
      (removePointEvent)="onRemoveLotoPointFromStandard($event)"
    ></app-loto-standard-form>
  </div>
  <div class="resize-handle"></div>
  <div class="resizable-panel bottom-panel">
    <app-loto-point-table
      [doubleClickCallback]="onLotoPointTableRowDoubleClick.bind(this)"
      [clickCallback]="onLotoPointTableRowLeftClick.bind(this)"
    ></app-loto-point-table>
  </div>
  }
</div>
