.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

.header {
  position: relative;
  background-color: var(--header-background);
  color: var(--header-text);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem; /* Add padding to make space for the button */
}

.header-content {
  flex-grow: 1;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle-menu-btn .auth-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--accent-color);
  color: var(--header-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.toggle-menu-btn:hover .auth-btn:hover {
  background-color: var(--accent-color-hover);
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-menu {
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; 
  border-right: 1px solid var(--border-color);
}

.resizer {
  width: 5px;
  cursor: col-resize;
  background-color: var(--border-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.menu-toggle-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-background);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 10;
  box-shadow: var(--card-shadow);
}

.menu-toggle-btn .arrow {
  width: 8px;
  height: 8px;
  border-left: 2px solid var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
  transform: rotate(45deg); /* Points left */
  transition: transform 0.2s ease-in-out;
}

.menu-toggle-btn .arrow.collapsed {
  transform: rotate(-135deg);
}
.resizer.collapsed .menu-toggle-btn {
  transform: translateX(50%);
}

.resizer:hover {
  background-color: var(--accent-color);
}

.main-and-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  background-color: var(--primary-background);
}

.footer-resizer {
  height: 5px;
  background-color: var(--border-color);
  cursor: row-resize;
  transition: background-color 0.3s ease;
}

.footer-resizer:hover {
  background-color: var(--accent-color);
}

.footer {
  overflow: auto;
  background-color: var(--secondary-background);
  border-top: 1px solid var(--border-color);
  padding: 1rem;
}