
<app-shared-table
  [columns]="columns"
  [items]="items$"
  (search)="onSearch($event)"
  (loadMoreItems)="loadMoreItems($event)"
  [clickCallback]="onItemClick"
  [doubleClickCallback]="onItemDoubleClick"
  [rightClickCallback]="onItemRightClick"
  [middleClickCallback]="onItemMiddleClick"
>
  <div table-controls>
    <button (click)="createNewLoto()">Create New LOTO</button>
    <button (click)="createNewLoto()">Create LOTO From Standard</button>
  </div>
</app-shared-table>
<app-popup
  [isOpen]="isPopupOpen"
  [title]="'LOTO Details'"
  [contentComponent]="LotoDetailFormComponent"
  [contentInputs]="{
    values: selectedItem,
    formSubmit: onFormSubmit.bind(this),
    formDelete: onFormDelete.bind(this),
    imageUrls$: relatedImages$,
    selectedItem: selectedItem
  }"
  (close)="closePopup()"
></app-popup>
