<div class="file-menu-container">
  <h2>File Menu</h2>
  <div class="file-menu-controls">
    <button class="file-menu-button" (click)="loadFiles('pid')">PID</button>
    <button class="file-menu-button" (click)="loadFiles('elect')">Electrical</button>
    <button class="file-menu-button" (click)="loadFiles('ht panel')">Heat Trace</button>
    <button class="file-menu-button" (click)="loadFiles('iso')">Isometrics</button>
  </div>
  
  @if (isLoading()) {
    <div>Loading...</div>
  } @else if (error()) {
    <div>Error: {{ error() }}</div>
  } @else {
    <app-rf-toggle-menu
      [menuItems]="menuItems()"
      (itemDblClick)="onItemDoubleClick($event)"
      (itemClick)="onItemClick($event)"
      (itemRightClick)="onItemRightClick($event)"
    ></app-rf-toggle-menu>
  }
</div>

<app-context-menu
  [selectedItem]="contextMenuService.contextMenuSelectedItem()"
  [isVisible]="contextMenuService.contextMenuVisible()"
  [position]="contextMenuService.contextMenuPosition()"
  [actions]="contextMenuService.contextMenuActions"
  (closeMenu)="contextMenuService.closeContextMenu()"
></app-context-menu>
