<div class="menu-container">
  <h2>Forms</h2>
  <ul class="form-list">
    @for (form of forms(); track form.id) {
      <li 
        class="form-item" 
        (click)="setCurrentForm(form)"
        (contextmenu)="handleRightClick(form, $event)">
        {{ getFormName(form) }}
      </li>
    }
      <li class="form-item" (click)="createnewForm()">Create New Form</li>
  </ul>
</div>

<app-popup-projection
  [title]="'New Form'"
  [isOpen]="isNewFormPopupOpen()"
  (close)="closeNewFormPopup()"
>
    <app-printable-form-form
      (submtEvent)="saveForm($event)"
    ></app-printable-form-form>
</app-popup-projection>
