<div class="layout-container">
  <header class="header">
    <div class="header-content">
      @if (header()) {
        <h1>{{ header() }}</h1>
      }@else {
        <h1>Jackson Generation</h1>  
      }
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="header-actions">
        <app-sync-indicator></app-sync-indicator>
        <app-tour-trigger></app-tour-trigger>
        <app-theme-toggle></app-theme-toggle>
    </div>
  </header>

  <div class="content-wrapper">
    @if(isSideMenuEnabled()){
      <div class="overlay" #overlay [class.active]="isMobileView && isMenuVisible" (click)="closeMenu()"></div>
      
      <nav class="left-menu" id="leftMenu" #leftMenu [class.active]="isMobileView && isMenuVisible" [style.width.px]="!isMobileView ? menuWidth : null">
        <ng-content select="[left-menu]"></ng-content>
      </nav>
      <div class="resizer" id="resizer" #resizer (mousedown)="onResizerMouseDown($event)">
        <button class="menu-toggle-btn" (click)="toggleMenu()">
          <i class="arrow" [class.collapsed]="!isMenuVisible"></i>
        </button>
      </div>
    }
    <div class="main-and-footer">
      <main class="main-content" #mainContent>
        <ng-content select="[main-content]"></ng-content>
      </main>
      @if(isBottomMenuEnabled()){
        <div class="footer-resizer" #footerResizer (mousedown)="onFooterResizerMouseDown($event)"></div>
        <footer class="footer" #footer [style.height.px]="footerHeight">
          @if(bottomMenuHeader()!==null){
            <h1>{{ bottomMenuHeader() }}</h1>
          }
          <ng-content select="[bottom-menu]"></ng-content>
        </footer>
      }
    </div>
  </div>

      <div class="clipboard-container" #clipboardContainer>
        <app-clipboard></app-clipboard>
      </div>
</div>
