<app-shared-table 
  [items]="items$" 
  [isDragAndDropEnabled]="isReorderEnabled()"
  [doubleClickCallback]="onRowDoubleClick.bind(this)" 
  [cellDoubleClickCallback]="onCellDbouleClick.bind(this)"
  [columns]="columns()"
  [rightClickCallback]="onRowRightClick.bind(this)" 
  [clickCallback]="onRowClick.bind(this)"
  (itemsReordered)="onItemReordered($event)"
  (selectedItemsEvent)="onSelectedItems($event)"
  (search)="onSearch($event)">
      <div table-controls>
        <ng-content select="[table-controls]"></ng-content>
      </div>
</app-shared-table>

<app-popup-projection
  [isOpen]="isPopupOpen"
  [title]="'LOTO Point Details'"
  [size]="'medium'"
  (close)="closePopup()"
  >
<app-loto-point-detail-form
  [values]="selectedItem()"
  [selectedItem]="selectedItem()"
  (formSubmit)="onFormSubmit($event)"
></app-loto-point-detail-form>
</app-popup-projection>
