<div class="image-container">
  @if (currentFileLinks() && currentFileLinks().length>0) {
    @if(currentFileLinks()[0].endsWith('.jpg')){
      <app-image-zoom-interactive
        [imageUrl]="currentFileLinks()[0]"
        [elements]="elements"
        >
      </app-image-zoom-interactive>
    } @else if(currentFileLinks()[0].endsWith('.pdf')){
      <app-pdf-display-iframe [pdfSrc]="currentFileLinks()[0]"></app-pdf-display-iframe>
    }
  } @else {
    <div class="no-file-selected">
      <p>No file selected. Please select a file to view and edit.</p>
      <!-- You can add a button or other UI elements here to guide the user -->
      <!-- <button (click)="onSelectFile()" class="select-file-button">Select a File</button> -->
    </div>
  }

  
  <!-- New control section added at the bottom of the image container -->
  <div class="control-section">
    <div class="button-row">
        <button>Some Buttons...</button>
      <!-- <button (click)="onMenuOpen()" class="control-button">Bulk Edit Equipment</button>
      <button (click)="openLpBulkEditMenu()" class="control-button">Bulk Edit Loto Points</button>
      <button (click)="onFilterMenuOpen()" class="control-button">Equipment Filter</button>
      <button (click)="onDataPresetMenuOpen()" class="control-button">Data Preset Menu</button>
      <button (click)="onToggleFileFormat()" class="control-button">Toggle PDF/JPG</button>
      <button (click)="toggleTextRecongnition()" class="control-button">
        @if (isTextRecongnitionEnabled()) {
          Disable Text Recognition
        } @else {
          Enable Text Recognition
        }
      </button>
      <button (click)="toggleGetJustText()" class="control-button">
        @if (isGetJustTextEnabled()) {
          Just Text
        } @else {
          Create Shape
        }
      </button> -->
    </div>
  </div>
</div>