  <div class="table-wrapper">
    <div class="table-header">
      <h3>Available LOTO Points</h3>
      <!-- <span class="item-count">{{ availableItems().length }} items</span> -->
    </div>
    <app-rf-loto-point-table
      [tableId]="'double-table-source'"
      [enableDragDrop]="false"
      [loadMoreEnabled]="true"
      [filterOutItems]="doubleTableService.filterOutRules()"
      [fieldsToDisplay]="sourceFields"
      (addToStandardClick)="onAddToStandard($event)">
    </app-rf-loto-point-table>
  </div>
