:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
  height: 100%;
  padding: 20px;
}

app-loto-table{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: visible
}
