<div class="container" #container>
  <div class="button-container">
    <button class="action-button" (click)="showLotoList()">
      {{ isLotoListDisplayed() ? 'Details' : 'List' }}
    </button>
  </div>
  @if(isLotoListDisplayed()){
    <app-loto-table
      [itemsInput]="currentLotoListSignal()"
      (onTableRowLeftClickEvent)="onLotoTableRowLeftClick($event)"
      (createNewLotoEvent)="onCreateNewLoto()"
    ></app-loto-table>
  }@else {
        <app-loto-detail-form
          [values]="currentLoto"
          [selectedItem]="currentLoto()"
          (formSubmitEvent)="onLotoFormSubmit($event)"
          (addPointToLotoEvent)="addPointToLoto($event)"
          (removePointFromLotoEvent)="removePointFromLoto($event)"
          (rowLeftClickEvent)="setCurrentLotoPoint($event)"
        ></app-loto-detail-form>
  }
</div>
