<div class="form-container">

    @if (isFormReady) {
      <app-smart-form
        [fields]="fields"
        [values]="values"
        [layout]="layout()"
        [deleteButtonText]="'Delete'"
        (formChange)="onFormChange($event)"
        (formSubmit)="onFormSubmit($event)"
        (formDelete)="onFormDelete()"
      ></app-smart-form>

      <!-- @if (imageUrls()() && imageUrls()().length > 0) {
          <app-image-carousel
            [images]="imageUrls()">
          </app-image-carousel>
      } @else {
        <p>Loading images...</p>
      } -->
    @if(withPopup()){

      <button type="button" (click)="onAddPoints()">Add LOTO Points</button>

    @if(isAddPointsPopupOpen){  
      <div class="full-screen-overlay">
        <div class="modal-content">
          <div class="table-container right">
            <h2>Selected LOTO Points</h2>
            <app-loto-point-table
              [clientSideData$]="selectedLotoPoints$"
              [deleteCallback]="onRemovePoint"
              [isReorderEnabled]="isReorderEnabled()"
              [doubleClickCallback]="removeOnDoubleClick"
              (itemReordered)="submitReorderdItems($event)"
            ></app-loto-point-table>
          </div>
          <div class="table-container left">
            <h2>All LOTO Points</h2>
            <app-loto-point-table
            [submitCallback]="onSelectPoint"
            [doubleClickCallback]="addOnDoubleClick.bind(this)"
            ></app-loto-point-table>
          </div>
          <div class="modal-actions">
            <button (click)="onSaveSelectedPoints()">Save</button>
            <button (click)="onCloseModal()">Close</button>
          </div>
        </div>
      </div>
    }
    }@else{
      <div class="tables-container">
        <div class="table-container right">
          <h2>Selected LOTO Points</h2>
          <app-loto-point-table
            [clientSideData$]="selectedLotoPoints$"
            [deleteCallback]="onRemovePoint"
            [doubleClickCallback]="removePointFromLoto"
            [clickCallback]="onRowLeftClick.bind(this)"
              [isReorderEnabled]="isReorderEnabled()"
              (itemReordered)="submitReorderdItems($event)"
          ></app-loto-point-table>
        </div>
        @if(withLotoPointDataBase()){
          <div class="table-container left">
            <h2>All LOTO Points</h2>
            <app-loto-point-table
              [submitCallback]="onSelectPoint"
              [doubleClickCallback]="addPointToLoto.bind(this)"
              [clickCallback]="onRowLeftClick.bind(this)"
            ></app-loto-point-table>
          </div>
        }
      </div>
    }
  }@else {
        <p>Loading form...</p>
      }

</div>