:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  max-height: calc(100% - 40px); /* Subtract the padding of .container */
}

app-details-form{
  width: 100%;
}

.tables-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: visible;
}

.table-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: visible;
  min-height: 300px;
  max-height: 50%; /* Adjust as needed */
  margin-bottom: 20px;
}

app-loto-point-table{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.modal-actions {
  padding: 10px;
  text-align: right;
  background-color: #f0f0f0;
}

.modal-actions button {
  margin-left: 10px;
}

.left {
  border-right: 1px solid #ccc;
}