<div class="form-container">

    @if (isFormReady) {
      <app-details-form
        [fields]="fields"
        [values]="values()"
        [layout]="layout()"
        (formSubmit)="onFormSubmit($event)"
        (formDelete)="onFormDelete()"
      ></app-details-form>

      @if (imageUrls$ | async; as imageUrls) {
        @if (imageUrls.length > 0) {
          <app-image-carousel
            [images]="imageUrls"
            [equipmentFilter]="lotoPointsFilter$ | async | nonNullable">
          </app-image-carousel>
        } @else {
          <p>No images found.</p>
        }
      } @else {
        <p>Loading images...</p>
      }
    @if(withPopup()){

      <button type="button" (click)="onAddPoints()">Add LOTO Points</button>

    @if(isAddPointsPopupOpen){  <div class="full-screen-overlay">
        <div class="modal-content">
          <div class="table-container right">
            <h2>Selected LOTO Points</h2>
            <app-loto-point-table
              [clientSideData$]="selectedLotoPoints$"
              [deleteCallback]="onRemovePoint"
              [doubleClickCallback]="removeOnDoubleClick"
            ></app-loto-point-table>
          </div>
          <div class="table-container left">
            <h2>All LOTO Points</h2>
            <app-loto-point-table
            [submitCallback]="onSelectPoint"
            [doubleClickCallback]="addOnDoubleClick.bind(this)"
            ></app-loto-point-table>
          </div>
          <div class="modal-actions">
            <button (click)="onSaveSelectedPoints()">Save</button>
            <button (click)="onCloseModal()">Close</button>
          </div>
        </div>
      </div>
    }
    }@else{
      <div class="tables-container">
        <div class="table-container right">
          <h2>Selected LOTO Points</h2>
          <app-loto-point-table
            [clientSideData$]="selectedLotoPoints$"
            [deleteCallback]="onRemovePoint"
            [doubleClickCallback]="removePointFromLoto"
          ></app-loto-point-table>
        </div>
        <div class="table-container left">
          <h2>All LOTO Points</h2>
          <app-loto-point-table
            [submitCallback]="onSelectPoint"
            [doubleClickCallback]="addPointToLoto.bind(this)"
            [clickCallback]="onRowLeftClick.bind(this)"
          ></app-loto-point-table>
        </div>
        <div class="modal-actions">
          <button (click)="onSaveSelectedPoints()">Save</button>
          <button (click)="onCloseModal()">Close</button>
        </div>
      </div>
    }
  }@else {
        <p>Loading form...</p>
      }

</div>