.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.table-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.left {
  border-right: 1px solid #ccc;
}

.modal-actions {
  padding: 10px;
  text-align: right;
  background-color: #f0f0f0;
}

.modal-actions button {
  margin-left: 10px;
}