:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 10;
}

.drawing-controls-container {
  position: absolute;
  top: 10px;  /* Adjust this value to position it from the top */
  left: 10px; /* Adjust this value to position it from the left */
  z-index: 10000; /* High z-index to ensure it stays on top */
}

.drawing-controls {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}

app-toolbar,
app-color-picker,
app-shape-properties {
  margin-bottom: 10px;
}

app-toolbar:last-child,
app-color-picker:last-child,
app-shape-properties:last-child {
  margin-bottom: 0;
}