<app-permit-left-panel
  [isPaperViewInput]="currentLotoService.isPaperViewActive()"
  (formViewChanged)="onFormViewChanged($event)"
>
  <app-loto-permit-left-menu menu></app-loto-permit-left-menu>
  <app-loto-permit-table table></app-loto-permit-table>
</app-permit-left-panel>

<div class="import-bar">
  <button class="import-btn" (click)="openImportDialog()">Import LOTOs</button>
  <button class="import-btn build-btn"
          [disabled]="isBuildingInRedTag()"
          (click)="buildInRedTag()">
    {{ isBuildingInRedTag() ? 'Starting…' : 'Build in Red Tag' }}
  </button>
</div>

<app-red-tag-automation-panel></app-red-tag-automation-panel>

@if (showImportDialog()) {
  <app-loto-import-dialog (closeDialog)="closeImportDialog()"></app-loto-import-dialog>
}
