<div class="form-group-container" [formGroup]="formGroup()">
  <div class="form-group-header">
    <label class="form-group-label">{{ label() }}</label>
  </div>
  <div class="form-group-fields" [class]="'form-group-layout-' + layout()">
    <ng-container *ngFor="let field of fields()">
      @if (field.type !== 'hidden') {
      <div class="form-field">
        @switch (field.type) {
          @case ('select') {
            <app-searchable-select-input
              [label]="field.label"
              [options]="getFieldOptions()(field.options)"
              [formControl]="getFormControl(field.name)"
              [categoryName]="field.name"
            >
            </app-searchable-select-input>
          }
          @case ('value-select') {
            <app-rf-value-select
              [categoryAlias]="field.categoryAlias || field.name"
              [label]="field.label"
              [canManageValues]="field.canManageValues ?? true"
              [formControl]="getFormControl(field.name)"
            >
            </app-rf-value-select>
          }
          @case ('equipment-browser') {
            <app-equipment-browser-input
              [label]="field.label"
              [formControl]="getFormControl(field.name)"
            >
            </app-equipment-browser-input>
          }
          @case ('equipment-list-manager') {
            <app-equipment-list-manager
              [label]="field.label"
              [formControl]="getFormControl(field.name)"
              [useUnifiedDialog]="field.context?.useUnifiedDialog ?? false"
              [currentLotoPointId]="field.context?.currentLotoPointId"
              [currentLotoPointTagNumber]="field.context?.currentLotoPointTagNumber"
              [conflictMode]="field.context?.conflictMode ?? 'has-association'"
              [requireLotoPointForDrawn]="field.context?.requireLotoPointForDrawn ?? false"
              [requireLotoPointForUnassociated]="field.context?.requireLotoPointForUnassociated ?? false"
            >
            </app-equipment-list-manager>
          }
          @case ('zero-energy-phrase-builder') {
            <app-zero-energy-phrase-builder
              [label]="field.label"
              [categoryAlias]="field.categoryAlias || field.name"
              [canManageValues]="field.canManageValues ?? true"
              [selectedEquipment]="getFieldValue('templateEquipment')"
              [formControl]="getFormControl(field.name)"
              (clipboardItemSelected)="onZeroEnergyClipboardPaste($event)"
              (editSharedChange)="onEditSharedToggleFromDialog($event)"
            >
            </app-zero-energy-phrase-builder>
          }
          @case ('checkbox') {
            <div class="checkbox-field">
              <input type="checkbox" [formControlName]="field.name" [id]="field.name" />
              <label [for]="field.name">{{ field.label }}</label>
            </div>
          }
          @case ('textarea') {
            <label class="field-label">{{ field.label }}</label>
            <textarea [formControlName]="field.name" class="form-control"></textarea>
          }
          @case ('number') {
            <label class="field-label">{{ field.label }}</label>
            <input type="number" [formControlName]="field.name" class="form-control" />
          }
          @case ('date') {
            <label class="field-label">{{ field.label }}</label>
            <input type="date" [formControlName]="field.name" class="form-control" />
          }
          @case ('time') {
            <label class="field-label">{{ field.label }}</label>
            <input type="time" [formControlName]="field.name" class="form-control" />
          }
          @default {
            <label class="field-label">{{ field.label }}</label>
            <input type="text" [formControlName]="field.name" class="form-control" />
          }
        }
      </div>
      }
    </ng-container>
  </div>
</div>
