<!-- <label class="square-checkbox-container">
  <input
    type="checkbox"
    [id]="id"
    [checked]="value"
    [disabled]="disabled"
    (change)="toggle($event)"
  />
  <span class="custom-square"></span> -->
  <label class="square-checkbox-container" [for]="id">
    <input
      type="checkbox"
      [id]="id"
      [ngModel]="value"
      (ngModelChange)="toggle($event)"
      [disabled]="disabled"
      (blur)="onTouched()"
    />
    <span class="custom-square"></span>
    {{ label }}
  </label>
