
  @if (menuItems().length > 0) {
    <!-- <app-toggle-list 
    [items]="menuItems()"
    [trackLastClicked]="true"
    [trackAllClicked]="true"
    [highlightOnHover]="false"
    (itemClicked)="onItemClick($event)"
    (itemDoubleClicked)="onItemDoubleClicked($event)"
    (itemRightClicked)="onItemRightClicked($event)"
    (itemMiddleClicked)="onItemMiddleClicked($event)">
  </app-toggle-list> -->
    <app-toggle-list-virtual-scroll 
    [items]="menuItems()"
    [trackLastClicked]="true"
    [trackAllClicked]="true"
    [highlightOnHover]="false"
    (itemClicked)="onItemClick($event)"
    (itemDoubleClicked)="onItemDoubleClicked($event)"
    (itemRightClicked)="onItemRightClicked($event)"
    (itemMiddleClicked)="onItemMiddleClicked($event)">
  </app-toggle-list-virtual-scroll>
  } @else {
    <p>No categories found.</p>
  }
