<app-shared-table
  [columns]="columns"
  [initialItems]="initialItems"
  [loadMoreCallback]="loadMoreItems"
  [searchCallback]="searchItems"
  [clickCallback]="onItemClick">
</app-shared-table>

<app-popup
  [isOpen]="isPopupOpen"
  [title]="'File Details'"
  [contentComponent]="FileDetailFormComponent"
  [contentInputs]="{
    values: selectedItem,
    formSubmit: onFormSubmit.bind(this),
    formDelete: onFormDelete.bind(this),
    openImage: onOpenImage.bind(this)
  }"
  (close)="closePopup()"
></app-popup>

<app-popup
  [isOpen]="isImagePopupOpen"
  [title]="'Image View'"
  [contentComponent]="ImageInteractiveComponent"
  [contentInputs]="{
    imagePath: selectedImagePath,
    imageName: selectedItem?.name,
    elements: []
  }"
  (close)="closeImagePopup()"
></app-popup>

<!-- <app-popup *ngIf="isImagePopupOpen" (close)="closeImagePopup()">
  <app-image-interactive
    [imagePath]="selectedImagePath"
    [imageName]="selectedItem?.name"
    [elements]="[]">
  </app-image-interactive>
</app-popup> -->