
<app-shared-table
  [columns]="columns"
  [items]="initialItems$"
  (loadMoreItems)="loadMoreItems($event)"
  (search)="onSearch($event)"
  [clickCallback]="onItemClick"
  [deleteItem]="deleteFile.bind(this)">
<button table-controls (click)="createNewFile()">Add New File</button>
</app-shared-table>

<app-popup-projection
  [isOpen]="isPopupOpen"
  [title]="'File Details'"
  [size]="'large'"
  (close)="closePopup()">
  
  @if(!submitting()){
    <div class="side-by-side-container">
    <div class="form-container">
      <app-file-detail-form
        [values]="selectedItem"
        (openImage)="onOpenImage()"
        (formDelete)="onFormDelete()"
        (formSubmit)="onFormSubmit($event)"
      ></app-file-detail-form>
    </div>

    <!-- <div class="image-container">
      <app-image-zoom-interactive
        [imageUrl]="selectedImagePath"
        [elements]="elements$">
      </app-image-zoom-interactive>
    </div> -->
  </div>
}@else{
  <div class="center-container">
    <p>Processing File...</p>
    <p>{{fileSubmitMessage()}}</p>
    <button (click)="fileUploadMessageWindow()">Cancel</button>
  </div>
}

</app-popup-projection>

<app-popup
  [isOpen]="isImagePopupOpen"
  [title]="'Image View'"
  [contentComponent]="ImageZoomInteractiveComponent"
  [contentInputs]="{
    imageUrl: selectedImagePath,
    imageName: selectedItem?.name,
    elements: elements$
  }"
  (close)="closeImagePopup()"
></app-popup>

