@switch (container().contentType) {
  @case ('text') {
    <div class="text-content" [ngStyle]="contentStyles()">{{ container().content }}</div>
  }
  @case ('variable') {
    <div class="text-content" [ngStyle]="contentStyles()">{{ container() | containerContent }}</div>
  }
  @case ('formField') {
    @switch (getFormFieldType()) {
      @case ('text') { <app-invisible-input-field [type]="'text'"></app-invisible-input-field> }
      @case ('textarea') { <app-invisible-input-field [type]="'text'"></app-invisible-input-field> }
      @case ('date') { <app-invisible-input-field [type]="'date'"></app-invisible-input-field> }
      @case ('time') { <app-invisible-input-field [type]="'time'"></app-invisible-input-field> }
      @case ('number') { <app-invisible-input-field [type]="'number'"></app-invisible-input-field> }
      @case ('file') { <app-invisible-input-field [type]="'file'"></app-invisible-input-field> }
      @case ('checkbox') { <app-checkbox-x></app-checkbox-x> }
      @case ('radio') { <app-radio-checkboxes [options]="[true, false]"></app-radio-checkboxes> }
      @case ('select') {
        <app-invisible-searchable-select
          [options]="[{value:1,label:'one'}, {value:2,label:'two'}, {value:3,label:'three'}]">
        </app-invisible-searchable-select>
      }
      @case ('multi-select') {
        <app-invisible-searchable-multi-select
          [options]="[{value:1,label:'one'}, {value:2,label:'two'}, {value:3,label:'three'}]">
        </app-invisible-searchable-multi-select>
      }
      @case ('radio-checkboxes') { <app-radio-checkboxes [options]="[true, false]"></app-radio-checkboxes> }
      @case ('form-array') {
        <app-nested-form-input></app-nested-form-input>
      }
      @default {
        <div class="text-content">{{ container() | containerContent }}</div>
      }
    }
  }
  @case ('image') {
    <img [src]="container() | containerContent" alt="Image content" style="width: 100%; height: 100%; object-fit: contain;">
  }
  @default {
    <div class="text-content" [ngStyle]="container().contentStyle">{{ container() | containerContent }}</div>
  }
}
