<!-- <div #zoomOuter class="zoom-outer">
    <div #zoomElement class="zoom" 
    class="zoom" 
    (mousedown)="onMousedown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    (wheel)="onWheel($event)">
        <img [src]="imageUrl()" />
    </div>
</div> -->

<div #zoomOuter class="zoom-outer">
    <div #zoomElement class="zoom" 
    (mousedown)="onMousedown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    (wheel)="onWheel($event)">
        <div class="image-canvas-container">
            <img #imageElement [src]="imageUrl()" />
            <canvas #canvasElement></canvas>
        </div>
    </div>
</div>
