<div class="checkbox-group">
  <div class="label-container">
    <label>{{ label }}</label>
  </div>
  @for (option of options; track option.key ?? option.label) {
    @if (isBoolean(option.value)) {
      <div>
        <input type="checkbox"
               [id]="controlId(option)"
               [value]="option.value"
               [checked]="isTicked(option)"
               (change)="onCheckboxChange(option, $event)"
               #checkbox>
        <label [for]="controlId(option)">{{ option.label }}</label>
      </div>
    } @else if(mode === 'array') {
      <div>
        <input type="checkbox"
               [id]="controlId(option)"
               [value]="option.value"
               [checked]="value.includes(option.value)"
               (change)="onCheckboxChange(option, $event)"
               #checkbox>
        <label [for]="controlId(option)">{{ option.label }}</label>
      </div>
    }
  }

</div>