
  <div class="dropdown-container">
  <div class="label-container">
    <label>{{ label }}</label>
  </div>
    <div class="dropdown-input" (click)="toggleDropdown($event)">
      {{ selectedOption?.label || 'Select an option' }}
    </div>
    @if (isOpen) {
      <div class="dropdown-options">
        <input appCopyPaste type="text" (input)="filterOptions($event)" placeholder="Search...">
        @for (option of filteredOptions; track option.value) {
          <div (click)="selectOption(option,$event)">
            {{ option.label }}
          </div>
        }
        @if (showAddEdit) {
          <div class="add-new-option" (click)="onAddNewOption($event)">
            <span class="plus-icon">+</span> Add New
          </div>
          <div class="add-new-option" (click)="onEditOption($event)">
            <span class="plus-icon">+</span> Edit
          </div>
        }
      </div>
    }
  </div>

