<style>
  .modal-dialog {
max-width: 500px; /* Adjust this value as needed */
max-height: 80vh; /* Adjust this value as needed */
}

.modal-content {
height: 100%;
}

.modal-body {
max-height: calc(80vh - 120px); /* Adjust this value based on modal-header and modal-footer height */
overflow-y: auto;
}
 </style>
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true" style="z-index:1060;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">Create New Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="insert-html">
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary ignoreDk"  id="save">Save changes</button>
        </div>
      </div>
    </div>
  </div>