<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">
    <form th:action="@{/point/update}" method="post" th:object="${point}" id="point-info-form">
        <div class="form-group">
            <label for="label">Point ID</label>
            <input class="form-control" type="text" id="label" th:field="*{tagNumber}" th:value="${tagNumber}">
        </div>

        <div class="form-group">
            <label for="description">Point Description</label>
            <input class="form-control" type="text" id="description" th:field="*{description}">
        </div>

        <div class="form-group">
            <label for="eqType">Equipment Type</label>
            <input class="form-control" type="text" id="eqType" th:field="*{eqType}" th:value="vendor.name" readonly>
        </div>
        <div class="form-group" id="equipment-container">
            <label for="equipment">Change Equpment to:</label>
            <select id="equipment" onchange="dropdownSelection()"></select>
        </div>

        <div class="form-group">
            <label for="vend">Vendor</label>
            <input class="form-control" type="text" id="vend" th:field="*{vendor}" th:value="vendor.name" readonly>
        </div>
        <div class="form-group">
            <label for="vendor">Change Vendor to:</label>
            <select id="vendor" onchange="dropdownSelection()"></select>
        </div>

        <div class="form-group">
            <label for="loc">Location</label>
            <input class="form-control" type="text" id="loc" th:field="*{location}" th:value="location.name" readonly>
        </div>
        <div class="form-group">
            <label for="location">Change Location to:</label>
            <select id="location" onchange="dropdownSelection()"></select>
        </div>

        <div class="form-group">
            <label for="syst">System</label>
            <input class="form-control" type="text" id="syst" th:field="*{system}" th:value="system.name" readonly>
        </div>
        <div class="form-group">
            <label for="system">System:</label>
            <select id="system" onchange="dropdownSelection()"></select>
        </div>

        <div class="form-group">
            <label for="mainFile">Main File</label>
            <input class="form-control" type="text" id="mainFile" th:field="*{mainFile}">
        </div>

        <div class="form-group">
            <label for="files">Related Files</label>
            <input class="form-control" type="text" id="files" th:field="*{files}">
        </div>

<!--        <div class="form-group">-->
<!--            <label for="files">Related Files</label>-->
<!--            <input class="form-control" type="text" id="files" th:field="*{files}">-->
<!--        </div>-->

        
        <input class="hide" type="text" name="coords" id="coordinates" th:field="*{coordinates}">
        <input class="hide" type="text" name="coords" id="equipmentId" th:field="*{id}">
        <input class="hide" type="text" name="originalPictureSize" id="originalPictureSize" th:field="*{originalPictureSize}">

        <button class="btn btn-primary btn-block" type="submit" id="pointUpdateButton">Submit</button>

    </form>
</html>