<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">
    <form th:action="@{/point/update}" method="post" th:object="${point}" id="point-info-form">
        <div class="form-group">
            <label for="label">Point ID</label>
            <input class="form-control" type="text" id="label" th:field="*{tagNumber}" th:value="${tagNumber}">
        </div>

        <div class="form-group">
            <label for="description">Point Description</label>
            <input class="form-control" type="text" id="description" th:field="*{description}">
        </div>

        <!-- <div class="form-group">
            <label for="eqType">Equipment Type</label>
            <input class="form-control" type="text" id="eqType" th:field="*{eqType}">
        </div> -->
        <div class="form-group">
            <label for="equipment">Equpment:</label>
            <select th:field="*{eqType}" id="equipment" onchange="dropdownSelection()">
            </select>
        </div>

        <div class="form-group">
            <label for="vendor">Vendor:</label>
            <select th:field="*{vendor}" id="vendor" onchange="dropdownSelection()">
            </select>
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <select th:field="*{location}" id="location" onchange="dropdownSelection()">
            </select>
        </div>

        <div class="form-group">
            <label for="system">System:</label>
            <select th:field="*{system}" id="system" onchange="dropdownSelection()">
            </select>
        </div>

        <div class="form-group">
            <label for="mainFile">Main File</label>
            <input class="form-control" type="text" id="mainFile" th:field="*{mainFile}">
        </div>

        <div class="form-group">
            <label for="files">Related Files</label>
            <input class="form-control" type="text" id="files" th:field="*{files}">
        </div>

<!--        <div class="form-group">-->
<!--            <label for="files">Related Files</label>-->
<!--            <input class="form-control" type="text" id="files" th:field="*{files}">-->
<!--        </div>-->

        
        <input class="hide" type="text" name="coords" id="coordinates" th:field="*{coordinates}">
        <input class="hide" type="text" name="coords" id="equipmentId" th:field="*{id}">
        <input class="hide" type="text" name="originalPictureSize" id="originalPictureSize" th:field="*{originalPictureSize}">

        <button class="btn btn-primary btn-block" type="submit" id="pointUpdateButton">Submit</button>

    </form>
</html>