
.double-table-container {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 16px;
  background-color: var(--secondary-background);
  border-radius: 4px;
}

.divider {
  width: 1px;
  background-color: var(--border-color);
}

@media (max-width: 1200px) {
  .double-table-container {
    flex-direction: column;
    gap: 16px;
  }

  .divider {
    width: 100%;
    height: 1px;
  }

  app-source-loto-point-table,
  app-destination-loto-point-table {
    min-width: 100%;
    height: 50%;
  }
}