
<div 
  *ngIf="isVisible()" 
  class="context-menu-backdrop"
  (click)="onBackdropClick()"
></div>

<div 
  #menuContainer
  *ngIf="isVisible()" 
  class="context-menu"
  [style.left.px]="position().x"
  [style.top.px]="position().y"
>
  <div class="context-menu-content">
    <ng-container *ngFor="let action of actions(); let last = last">
      <button
        *ngIf="!action.divider"
        class="context-menu-item"
        [class.disabled]="action.disabled"
        [disabled]="action.disabled"
        (click)="onActionClick(action)"
        type="button"
      >
        <span *ngIf="action.icon" class="context-menu-icon">
          {{ action.icon }}
        </span>
        <span class="context-menu-label">{{ action.label }}</span>
      </button>
      
      <div 
        *ngIf="action.divider && !last" 
        class="context-menu-divider"
      ></div>
    </ng-container>
  </div>
</div>


<!-- <div 
  *ngIf="isVisible()" 
  class="context-menu-backdrop"
  (click)="onBackdropClick()"
></div>

<div 
  *ngIf="isVisible()" 
  class="context-menu"
  [style.left.px]="position().x"
  [style.top.px]="position().y"
>
  <div class="context-menu-content">
    <ng-container *ngFor="let action of actions(); let last = last">
      <button
        *ngIf="!action.divider"
        class="context-menu-item"
        [class.disabled]="action.disabled"
        [disabled]="action.disabled"
        (click)="onActionClick(action)"
        type="button"
      >
        <span *ngIf="action.icon" class="context-menu-icon">
          {{ action.icon }}
        </span>
        <span class="context-menu-label">{{ action.label }}</span>
      </button>
      
      <div 
        *ngIf="action.divider && !last" 
        class="context-menu-divider"
      ></div>
    </ng-container>
  </div>
</div> -->
