<app-main-layout>
  <ng-container header>
    <app-router-menu [layout]="'row'"></app-router-menu>
  </ng-container>
  <ng-container main-content>
    <div class="home-container">
      <div class="home-header">
        <h1>Power Plant Management</h1>
        <p>Select a module to get started</p>
      </div>
      <div class="navigation-grid">
        @for (group of filteredGroupedCards(); track group.label) {
          <app-group-navigation-card [group]="group"></app-group-navigation-card>
        }
      </div>
    </div>
  </ng-container>
</app-main-layout>

<app-welcome-dialog></app-welcome-dialog>
