<div class="checkbox-group">
  <div class="label-container">
    <label>{{ label }}</label>
    @if (question()) {
      <span class="question-icon" (click)="openPopup()" title="Click for more information">
        <span class="material-icons">help</span>
      </span>
    }
  </div>
  @for (option of options; track option.label) {
    @if (isBoolean(option.value)) {
      <div>
        <input type="checkbox"
               [id]="option.label"
               [value]="option.value"
               [checked]="option.value"
               (change)="onCheckboxChange(option, $event)"
               #checkbox>
        <label [for]="option.label">{{ option.label }}</label>
      </div>
    } @else if(mode === 'array') {
      <div>
        <input type="checkbox"
               [id]="option.label"
               [value]="option.value"
               [checked]="value.includes(option.value)"
               (change)="onCheckboxChange(option, $event)"
               #checkbox>
        <label [for]="option.label">{{ option.label }}</label>
      </div>
    }
  }

</div>

  @if(showPopup){
    <app-qa-menu
      [question]="question()"
      (closePopupEvent)="closePopup()">
    </app-qa-menu>
  }