<app-floating-menu 
  [title]="'Bulk Edit Menu'" 
  [width]="50" 
  [height]="40" 
  [position]="MenuPosition.TopRight"
  [open]="isOpen()"
  (close)="handleClose()">

  <app-equipment-table
    [equipmentList]="equipmentData"
    (equipmentClicked)="onEquipmentSelected($event)"
    (equipmentDoubleClicked)="onEquipmentEdit($event.item, $event.column)"
    (equipmentRightClicked)="onEquipmentContextMenu($event)"
    (equipmentHovered)="onEquipmentHover($event)"
    (equipmentDeleted)="onEquipmentDelete($event)"
    (selectedItemsEvent)="onSelectedItems($event)"
>
  @if(selectedItems().length > 0) {
    <div table-controls>
      <button (click)="applyPresetValues()">Apply Preset Values</button>
    </div>
  }
</app-equipment-table>

<button (click)="toggleLookupMenu()">Lookup Menu</button>
<button (click)="toggleDiscrepanciesMenu()">Discrepancies Menu</button>

</app-floating-menu>

@if (isPopupOpen) {
    <app-popup-projection
      [isOpen]="isPopupOpen"
      [title]="'Equipment Details'"
      [size]="'medium'"
      (close)="onClosePopup()">
      
      <app-details-form
        [fields]="fields"
        [values]="itemToEdit()"
        [layout]="'reactive'"
        (formSubmit)="onFormSubmit($event)">
      </app-details-form>
    
    </app-popup-projection>
}

  <app-floating-menu
    [title]="'Lookup Menu'"
    [width]="50"
    [height]="40"
    [position]="MenuPosition.TopLeft"
    [open]="isLookupMenuOpen()"
    (close)="toggleLookupMenu()"
  >

    <app-file-lookup-menu></app-file-lookup-menu>

  </app-floating-menu>

  <app-floating-menu
    [title]="'Discrepancies Menu'"
    [width]="50"
    [height]="40"
    [position]="MenuPosition.TopLeft"
    [open]="isDiscrepanciesMenuOpen()"
    (close)="toggleDiscrepanciesMenu()"
  >

    <app-file-point-discrepancies-menu></app-file-point-discrepancies-menu>
  </app-floating-menu>

  

