.scroll-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: auto;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  overflow: visible;
}

.table {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 0;
  overflow: visible;
}