<app-floating-menu 
  [title]="'Bulk Edit Menu'" 
  [width]="30" 
  [height]="40" 
  [position]="MenuPosition.TopRight"
  [open]="isOpen()"
  (close)="handleClose()">

  <app-equipment-table
  [equipmentList]="equipmentData()"
  (equipmentClicked)="onEquipmentSelected($event)"
  (equipmentDoubleClicked)="onEquipmentEdit($event.item, $event.column)"
  (equipmentRightClicked)="onEquipmentContextMenu($event)"
  (equipmentHovered)="onEquipmentHover($event)"
  (equipmentDeleted)="onEquipmentDelete($event)"
></app-equipment-table>
</app-floating-menu>

@if (isPopupOpen) {
    <app-popup-projection
      [isOpen]="isPopupOpen"
      [title]="'LOTO Point Details'"
      [size]="'medium'"
      (close)="onClosePopup()">
      
      <app-details-form
        [fields]="fields"
        [values]="itemToEdit()"
        [layout]="'reactive'"
        (formSubmit)="onFormSubmit($event)"
        (formDelete)="onFormDelete()">
      </app-details-form>
    
    </app-popup-projection>
}
