  <div class="naming-convention" style="background-color: #f9f9f9; padding: 15px; border-radius: 4px;">
    <h3 style="color: #333; margin-bottom: 10px;">Naming Convention:</h3>
    <p style="margin-bottom: 10px;">Tag Number Format: [Unit]-[Equipment Type]-[System]-[Sequential Number]</p>
    <ul style="padding-left: 20px;">
      <li>Unit: 01, 02, 00</li>
      <li>Equipment Type: 
        <ul style="padding-left: 20px; list-style-type: none;">
          @for (eqType of eqTypes(); track eqType.id) {
            @if(eqType.alias){
              <li><strong>{{ eqType.alias }}</strong> - {{ eqType.name }}</li>
            }
          }
          <li>If equipment is not in the list, come up with 3 letter name for it</li>
        </ul>
      </li>
      <li>System:</li>
      <ul style="padding-left: 20px; list-style-type: none;">
        @for (system of systems(); track system.id) {
          @if(system.alias){
            <li><strong>{{ system.alias }}</strong> - {{ system.name }}</li>
          }
            <!-- <li><strong>{{ system.alias }}</strong> - {{ system.name }}</li> -->
        }
        <li>If system is not in the list, come up with 3 letter name for it</li>
      </ul>
    </ul>
  </div>
