<div class="container">
  <div class="form-container">
    @if (isFormReady()) {
      <app-details-form
        [fields]="fields()"
        [values]="values()"
        layout="reactive"
        (formSubmit)="onFormSubmit($event)"
        (formDelete)="onFormDelete()">
      </app-details-form>
    } @else {
      <p>Loading form...</p>
    }
  </div>
  <div class="tables-container">
    <div class="table-wrapper">
      <h3>Associated LOTO Points</h3>
      <app-loto-point-simple-table 
        [initialItems]="lotoPoints$"
        (doubleClickEvent)="onExistingLotoPointDoubleClick($event)">
    </app-loto-point-simple-table>
    </div>
    <div class="table-wrapper">
      <h3>Search LOTO Points</h3>
      <app-loto-point-simple-table 
        [enableSearch]="true"
        (doubleClickEvent)="onSearchedLotoPointDoubleClick($event)">
      </app-loto-point-simple-table>
    </div>
  </div>
</div>