<div class="container">
  <div class="form-container">
    @if (isFormReady()) {
      <app-details-form
        [fields]="fields()"
        [values]="values()"
        layout="reactive"
        (formSubmit)="onFormSubmit($event)"
        (formDelete)="onFormDelete()">
      </app-details-form>
    } @else {
      <p>Loading form...</p>
    }
  </div>
  <div class="tables-container">
    <div class="table-wrapper">
      <app-loto-point-simple-table [initialItems]="lotoPoints$"></app-loto-point-simple-table>
    </div>
    <div class="table-wrapper">
      <app-loto-point-simple-table [enableSearch]="true"></app-loto-point-simple-table>
    </div>
  </div>
</div>