<app-main-layout
  [isBottomMenuEnabled]="true"
  [isSideMenuEnabled]="true"
>
  <ng-container header>
    <app-router-menu [layout]="'row'"></app-router-menu>
  </ng-container>
  <ng-container left-menu>
    <app-rf-loto-standard-left-menu></app-rf-loto-standard-left-menu>
  </ng-container>
  <ng-container main-content>
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container bottom-menu>
    <!-- <app-bottom-menu-outlet></app-bottom-menu-outlet> -->
  </ng-container>
</app-main-layout>

<!-- LOTO Standard Form Popup -->
<app-rf-popup-projection
  [isOpen]="stateService.isLotoStandardFormOpen()"
  [size]="'auto'"
  [fullHeight]="true"
  (close)="stateService.closeForm()"
>
  <app-rf-loto-standard-form [fieldsInput]="stateService.formFields()"></app-rf-loto-standard-form>
</app-rf-popup-projection>

<!-- LOTO Point Form Popup -->
<app-rf-popup-projection
  [isOpen]="lotoPointStateService.isLotoPointFormOpen()"
  [fullHeight]="true"
  (close)="lotoPointStateService.closeForm()"
>
  <app-rf-loto-point-form [fieldsInput]="lotoPointStateService.formFields()"></app-rf-loto-point-form>
</app-rf-popup-projection>

<!-- File Form Popup -->
<app-rf-popup-projection
  [isOpen]="fileStateService.isFileFormOpen()"
  [fullHeight]="true"
  (close)="fileStateService.closeForm()"
>
  <app-rf-file-form></app-rf-file-form>
</app-rf-popup-projection>

<!-- Export Dialog -->
<app-export-dialog></app-export-dialog>
