<app-floating-menu 
  [title]="'Data Pre-set Menu'" 
  [width]="50" 
  [height]="40" 
  [position]="MenuPosition.TopLeft"
  [open]="isOpen()"
  (close)="handleClose()">

  <h3>Preset Equipment Values</h3>
    <app-details-form
      [fields]="fields()"
      [values]="currentValues()"
      [layout]="'reactive'"
      (formChange)="onFormSubmit($event)"
      (formSubmit)="onFormSubmit($event)">
    </app-details-form>

  <h3>Preset Loto Point Values</h3>
    <app-details-form
      [fields]="lotoPointFields()"
      [values]="currentLotoPointValues()"
      [layout]="'reactive'"
      (formChange)="onLotoPointSubmit($event)"
      (formSubmit)="onLotoPointSubmit($event)">
    </app-details-form>


</app-floating-menu>