<form [formGroup]="form" (ngSubmit)="onSubmit()" [class]="'form-layout-' + layout">
  @for (field of fields; track field.name) {
    <div [class]="'form-field-layout-' + layout">
      @switch (field.type) {
        @case ('select') {
          <app-searchable-dropdown
            [label]="field.label"
            [options]="field.options"
            [formControlName]="field.name">
          </app-searchable-dropdown>
        }
        @case ('checkbox-group') {
          <app-checkbox-group
            [label]="field.label"
            [options]="field.options"
            [formControlName]="field.name">
          </app-checkbox-group>
        }
        @case('multi-select'){
          <app-multi-select-searchable-dropdown
            [options]="field.options"
            [label]="field.label"
            [formControlName]="field.name"
          ></app-multi-select-searchable-dropdown>
        }
        @case('file'){
          <app-file-input 
            formControlName="file" 
            label="Upload File" 
            accept=".pdf,.doc,.docx,.img,.jpg,.jpeg">
          </app-file-input>
        }
        @case('multi-input'){
          <app-multi-input
            type="text"
            [label]="field.label"
            [formControlName]="field.name"
          ></app-multi-input>
        }
        @default {
          <app-form-input
            [label]="field.label"
            [type]="field.type"
            [formControlName]="field.name">
          </app-form-input>
        }
      }
    </div>
  }
  
  <div [class]="'form-field-layout-' + layout">
    <button type="submit">Submit</button>
    @if (formDelete.observed) {
      <button type="button" (click)="onDelete()">Delete</button>
    }
  </div>
</form>