
<div class="printable-form-designer">
  <div class="top-menu">
    <button (click)="addContainer()">Add Container</button>
    <button (click)="groupSelection()">Group</button>
    <button (click)="ungroupSelection()">Ungroup</button>
    <button (click)="deleteContainer()">Delete</button>
    <input type="number" [(ngModel)]="sheetSize().width" (change)="updateSheetSize(sheetSize().width, sheetSize().height)">
    <input type="number" [(ngModel)]="sheetSize().height" (change)="updateSheetSize(sheetSize().width, sheetSize().height)">
  </div>

  <div class="main-content">
    <div class="left-panel">

      <div *ngFor="let field of availableFields()" class="field-item">
        <h4>{{ field.label }}</h4>
        <!-- <button (click)="addFieldToCell(field)">Add to Form</button> -->
      </div>
    </div>

  <div class="center-panel" #centerPanel>
    <div 
      class="form-container" 
      #designArea 
      [ngStyle]="getFormContainerStyle()">
      
      <!-- Selection Box -->
      @if(selectionBox(); as box){
        <div class="selection-box" [style.left.px]="box.x" [style.top.px]="box.y" [style.width.px]="box.width" [style.height.px]="box.height"></div>
      }

      <div 
        class="form-content"
        #formContent
        (mousedown)="onFormSheetMouseDown($event)">
        @for(container of containers(); track $index; let i = $index){
          <!-- <div class="draggable-container"
             cdkDrag
             [cdkDragBoundary]="designArea"
             (cdkDragEnded)="onDragEnd($event, container)"
             (click)="selectContainer(container, $event)"
             [class.selected]="selectedContainers().includes(container)"
             [ngStyle]="getContainerStyles(container)">
            <div class="resize-handle bottom-right" (mousedown)="startResize($event, i, 'bottom-right')"></div>
        </div> -->
        <div
          class="draggable-container"
          [ngStyle]="getContainerStyles(container)"
          [class.selected]="isContainerSelected(container)"
          (mousedown)="onDragStart($event, container)"
          (click)="selectContainer(container,$event)">

          <div class="resize-handle bottom-right" (mousedown)="startResize($event, i, 'bottom-right')"></div>

        </div>

        }
      </div>
    </div>
  </div>


    <div class="right-panel">
          <app-form-container-list></app-form-container-list>
      
    </div>
  </div>
</div>
