
<div class="printable-form-designer">
  <div class="top-menu">
    <div class="control-group">
      <button (click)="addContainer()" title="Add Container">Add</button>
      <button (click)="deleteContainer()" title="Delete Selected">Delete</button>
    </div>

    <div class="control-group">
      <button (click)="groupSelection()" title="Group Selected">Group</button>
      <button (click)="ungroupSelection()" title="Ungroup Selection">Ungroup</button>
    </div>

    <div class="control-group alignment-controls">
      <button (click)="alignContainers('left')" title="Align Left">L</button>
      <button (click)="alignContainers('h-center')" title="Align Horizontal Center">HC</button>
      <button (click)="alignContainers('right')" title="Align Right">R</button>
      <button (click)="alignContainers('top')" title="Align Top">T</button>
      <button (click)="alignContainers('v-center')" title="Align Vertical Center">VC</button>
      <button (click)="alignContainers('bottom')" title="Align Bottom">B</button>
      <br>
      <br>
      <button (click)="matchSize('width')" title="Match Width">W</button>
      <button (click)="matchSize('height')" title="Match Height">H</button>
      <button (click)="matchSize('width')" title="Match Width & Height">WH</button>
      <br>
      <button (click)="distributeContainers('horizontal')" title="Distribute horizontaly">DH</button>
      <button (click)="distributeContainers('vertical')" title="Distribute vertically">DV</button>

      <button (click)="arrangeSequentially('horizontal')" title="Arrange Sequentially horizontally">AH</button>
      <button (click)="arrangeSequentially('vertical')" title="Arrange Sequentially vertically">AV</button>
    </div>

    <div class="control-group sheet-size-controls">
      <label>Sheet Size:</label>
      <input type="number" [(ngModel)]="sheetSize().width" (change)="updateSheetSize(sheetSize().width, sheetSize().height)" title="Sheet Width">
      <span>x</span>
      <input type="number" [(ngModel)]="sheetSize().height" (change)="updateSheetSize(sheetSize().width, sheetSize().height)" title="Sheet Height">
    </div>
  </div>

  <div class="main-content">
    <div class="left-panel">

      <div *ngFor="let field of availableFields()" class="field-item">
        <h4>{{ field.label }}</h4>
        <!-- <button (click)="addFieldToCell(field)">Add to Form</button> -->
      </div>
    </div>

  <div class="center-panel" #centerPanel>
    <div 
      class="form-container" 
      #designArea 
      [ngStyle]="getFormContainerStyle()">
      
      <!-- Selection Box -->
      @if(selectionBox(); as box){
        <div class="selection-box" [style.left.px]="box.x" [style.top.px]="box.y" [style.width.px]="box.width" [style.height.px]="box.height"></div>
      }

      <div 
        class="form-content"
        #formContent
        (mousedown)="onFormSheetMouseDown($event)">
        @for(container of containers(); track $index; let i = $index){
          <!-- <div class="draggable-container"
             cdkDrag
             [cdkDragBoundary]="designArea"
             (cdkDragEnded)="onDragEnd($event, container)"
             (click)="selectContainer(container, $event)"
             [class.selected]="selectedContainers().includes(container)"
             [ngStyle]="getContainerStyles(container)">
            <div class="resize-handle bottom-right" (mousedown)="startResize($event, i, 'bottom-right')"></div>
        </div> -->
        <div
          class="draggable-container"
          [ngStyle]="getContainerStyles(container)"
          [class.selected]="isContainerSelected(container)"
          [class.hovered]="currentPrintableFormService.isContainerHovered(container)"
          (mousedown)="onDragStart($event, container)"
          (click)="selectContainer(container,$event)"
          (contextmenu)="veiwPropertiesOfContainer(container,$event)">

          <div class="resize-handle bottom-right" (mousedown)="startResize($event, i, 'bottom-right')"></div>

        </div>

        }
      </div>
    </div>
  </div>


    <div class="right-panel">
          <app-form-container-list
            (rightClickEvent)="veiwPropertiesOfContainer($event.container, $event.event)"
          ></app-form-container-list>
      
    </div>
  </div>
</div>

  <app-floating-menu
    [title]="'Container Properties'"
    [position]="menuPosition.Center"
    [open]="isPropertiesPopupOpen()"
    (close)="closePropertiesPopup()"
  >
    <app-form-container-properties
      [container]="currentPrintableFormService.propertiesOfContainer()"
    ></app-form-container-properties>
  </app-floating-menu>
  
