
<div class="printable-form-designer">
  <div class="top-menu">
    <button (click)="addContainer()">Add Container</button>
    <!-- <button (click)="addColumn()">Add Column</button> -->
    <input type="number" [(ngModel)]="sheetSize().width" (change)="updateSheetSize(sheetSize().width, sheetSize().height)">
    <input type="number" [(ngModel)]="sheetSize().height" (change)="updateSheetSize(sheetSize().width, sheetSize().height)">
  </div>

  <div class="main-content">
    <div class="left-panel">
    <!-- <select [(ngModel)]="selectedEntity" (change)="loadEntityFields()">
      <option value="SafeWorkDto">Safe Work</option>
      <option value="HotWorkDto">Hot Work</option>
      <option value="ConfinedSpaceDto">Confined Space</option>
    </select> -->
      <div *ngFor="let field of availableFields()" class="field-item">
        <h4>{{ field.label }}</h4>
        <!-- <button (click)="addFieldToCell(field)">Add to Form</button> -->
      </div>
    </div>

  <div class="center-panel" #centerPanel>
    <div 
      class="form-container" 
      #designArea 
      [ngStyle]="getFormContainerStyle()">
      
      <!-- Selection Box -->
      @if(selectionBox(); as box){
        <div class="selection-box" [style.left.px]="box.x" [style.top.px]="box.y" [style.width.px]="box.width" [style.height.px]="box.height"></div>
      }
      <div 
        class="form-content"
        (mousedown)="onFormSheetMouseDown($event)">
        @for(container of containers(); track $index; let i = $index){
          <div class="draggable-container"
             cdkDrag
             [cdkDragBoundary]="designArea"
             (cdkDragEnded)="onDragEnd($event, i)"
             (click)="selectContainer(container, $event)"
             [class.selected]="selectedContainers().includes(container)"
             [ngStyle]="getContainerStyles(container)">
          <!-- <div class="field-wrapper" [ngStyle]="getWrapperStyles(container)">
            <label>{{ field.label }}</label>
            <input [type]="field.type" [name]="field.name">
          </div> -->
            <div class="resize-handle bottom-right" (mousedown)="startResize($event, i, 'bottom-right')"></div>
        </div>

        }
      </div>
    </div>
  </div>


    <div class="right-panel">
      
    </div>
  </div>
</div>
