
       <!-- Modal -->
        <div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupleModalLabel" aria-hidden="true" style="z-index:1061;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="popupModalLabel">Create New Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >
                        <label for="system-name">New Item Name:</label>
                        <input class="form-control group-value" type="text" id="value-name">
                        <div data-sdropdown="edit-existing"></div>
                        <div data-sdropdown="delete-existing"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"  id="save">Save changes</button>
                    </div>
                </div>
            </div>
        </div>