<!DOCTYPE html>
<html lang="en" xmlns:th="<http://www.thymeleaf.org>" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="mode" th:content="${mode}"/>
    <title>My Main Layout</title>

    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/my_styles/page.css">
    <link rel="stylesheet" href="/my_styles/searchable-dropdown.css">
    <link rel="stylesheet" href="/my_styles/picture.css">
    <link rel="stylesheet" href="/my_styles/menu.css">
    <link rel="stylesheet" href="/my_styles/util.css">
    <link rel="stylesheet" href="/my_styles/floating-menu.css">
    <link rel="stylesheet" href="/my_styles/resize_style.css">
    <link rel="stylesheet" href="/my_styles/infoWindow.css">
    <link rel="stylesheet" href="/my_styles/NewWindowStyle.css">
    <link rel="stylesheet" href="/my_styles/table.css">
    <style>
.areaHighlights{
    border: 2px solid blue !important;
    z-index: 300;
}

.highlightInfo{
    position: absolute;
    top:100%;
    background-color: white;
    width: fit-content;
    /* min-height: 10%; */
    border: 2px solid blue;
    z-index: 2;
    
    /* overflow: hidden; */
}
.lotoPointInfo{
    position: relative;
    /* top:100%; */
    background-color: white;
    width: fit-content;
    /* min-height: 10%; */
    border: 2px solid blue;
    z-index: 2;
    
    /* overflow: hidden; */
}
.responsive-text {
    /*font-size: 1vw;  Adjusts font size relative to viewport width */
    /* font-size: 15px; */
    width: fit-content; /* Ensures the text fits within the parent */
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures no overflow */
}
.highlight-control-accept{
    background-color: green;
}
.highlight-control-remove{
    background-color: rgb(189, 7, 7);
}
.highlight-control-rename{
    background-color: rgb(189, 168, 7);
}
.highlight-control-close{
    position: absolute;
    bottom:102%;
    left:102%;
}
.highlight-controls{
    position: absolute;
    display: flex;
    flex-direction: column;
    right:100%;
    z-index: 900;
    border: 2px solid blue;
}
.loto-point-controls{
    position: relative;
    display: flex;
    flex-direction: column;
    /* right:100%;
    top:100%; */
    z-index: 900;
    border: 2px solid blue;
    margin:15px;
}
.loto-point-box{
    width: fit-content;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

[data-loto-point-highlight="true"]{
    border: 2px solid rgb(255, 0, 0) !important;
    z-index: 300;
}
[data-loto-point-highlight="false"]{
    border: 2px solid rgb(13, 255, 0) !important;
    z-index: 300;
}
    </style>
</head>
<body>

    <div id="all">

        <div id="upper">
            <div th:replace="~{partials/index::header}"></div>
        </div>

        <div id="middle">
            <button class="hide" id="pin-menu">Menu</button>
            <div class="hide" id="left">
                <div id="menu-layers">
                    <div id="controls">
                        <button onclick="toggleFileButtonContent()">Toggle Name</button>
                        <!-- <button onclick="fileFormSetup()">Edit File</button> -->
                    </div>
                    <div id="items">
                        <!-- <ul>
                            <li th:each="group : ${sortingGroups}">
                                <a class="btn btn-warning dropdownDk" th:text="${group.getValue()}" th:id="${group}" name="subgroups"></a>
                            </li>
                        </ul> -->
                    </div>
                </div>

                <div id="menu-resize"></div>
            </div>
            <div id="right">
                <div id="picture-container" class="view" data-file-id="">
                    <img src="/uploads/jpg/PID/Kiewit/20023894-PD-021A.01.C2CR.01.01.jpg" usemap="#image_map" id="picture">
                    <map name="image_map" id="map"></map>
                </div>
            </div>
        </div>

        <div id="lower" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <ul id="bulk-edit-controls">
                        <li class="btn btn-outline-light" onclick="removeAllHighlights()" name="step">Step 1: Select all loto points (click for details)</li>
                        <li class="btn btn-outline-light"><input type="text" placeholder="Type here for changes" id="value-editor-input"></li>
                        <li class="btn btn-outline-light" onclick="createNewHighlight()" name="">Highlight New Equipment</li>
                        <li class="btn btn-outline-light" onclick="removeAllHighlights()">Submit Selected Points</li>
                    </ul>
                    <!-- <ul >
                        <li class="btn-list-in-line" onclick="removeAllHighlights()">Remove Highlights</li>
                        <li class="btn-list-in-line" onclick="highlightAll()">Highlight All</li>
                        <li class="btn-list-in-line" onclick="highlightLotoPoints()">Highlight Loto Points</li>
                        <li class="btn btn-danger" onclick="toggleCurrentPidCompletedStatus()" id="pid-complete-status-button">Mark as Completed</li>
                        <li class="btn-list-in-line" onclick="goToPreviousPid()">Previous PID</li>
                        <li class="btn-list-in-line" onclick="goToNextPid()">Next PID</li>
                        <li class="btn-list-in-line" onclick="openNewWindow(getUploadFileForm)">Upload Files</li>
                    </ul> -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="formContainer">

                    </div>
                </div>
            </div>
        </div>

        <div id="infoWindowsContainer"></div>

    </div>


    <script src="/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



    <script>
        let token = document.getElementById('token').getAttribute('content');
    </script>
    
    <script src="/functions/globla/PointVariables.js"></script>
    <script src="/functions/util_functions/util.js"></script>
    <script src="/functions/util_functions/SearchableDropdown.js"></script>
    <script src="/functions/util_functions/FormUtil.js"></script>
    <script src="/functions/util_functions/FormBuilder.js"></script>

    <script src="/functions/controllers/PopupController.js"></script>
    <script src="/functions/controllers/ValueController.js"></script>
    <script src="/functions/controllers/FileController.js"></script>
    <script src="/functions/controllers/PointController.js"></script>
    <script src="/functions/controllers/LotoPointController.js"></script>
    <script src="/functions/controllers/LotoController.js"></script>
    <script src="/functions/controllers/TransferDataController.js"></script> 

    <script src="/functions/service/ValidationService.js"></script>
    <script src="/functions/service/PopupService.js"></script>
    <script src="/functions/service/MenuDropdownService.js"></script>
    <script src="/functions/service/bulk_edit/PictureService.js"></script>
    <script src="/functions/service/bulk_edit/EditModeService.js"></script>
    <script src="/functions/service/ResizerService.js"></script>
    <script src="/functions/service/FileService.js"></script>
    <script src="/functions/service/MasterService.js"></script>
    <script src="/functions/service/ModeService.js"></script>
    <script src="/functions/service/TableService.js"></script>
    <script src="/functions/service/InfoWindowService.js"></script>
    <script src="/functions/service/bulk_edit/PointService.js"></script> 
    <script src="/functions/service/LotoService.js"></script>
    <script src="/functions/service/ValueService.js"></script>
    <script src="/functions/service/NewWindowService.js"></script>
    


    <script>
        let container = document.getElementById('items');
        let picture = document.getElementById('picture');
        let pictureContainer = document.getElementById('picture-container');
        let all = document.getElementById('all');
        let infoWindowsContainer = document.getElementById('infoWindowsContainer');
        let mode = document.getElementById('mode').getAttribute('content');
        let popups = [];
        let completeButton = document.getElementById('pid-complete-status-button');




    getIncompleteFiles()
    .then(()=>getVendors())
    .then(()=>getCategories())
    .then(async ()=>{
        await getAllCategories();
        await getAllValuesOfEachCategory();
        // newInfoWindow("Point",false);
        newInfoWindow("Old-LOTO-Points",false);
        document.getElementById('infoWindowOld-LOTO-Points').appendChild(buildPointSearchField());
        // positionInfoWindowsInline();

        incompletePid = incompletePid.filter(e=>e.vendor.name==="Kiewit");
        //setEditMode(incompletePid[0].bulkEditStep); //it is in loadPictureWithLightFile now
        loadPictureWithLightFile(incompletePid[0]);

        getAllCategoryObjects();
        getRevisedExcelPoints();
        getOldExcelPoints();
        getHrsgValvesFromDb();
        getKiewitValvesFromDb();
        getBypassesFromDb();
        getCompletedFiles();
        

        let left = document.getElementById('lower').querySelector('ul');
        let item = document.createElement('li');
        item.appendChild(createModeButtons());
        left.appendChild(item);
        item.classList.add('btn-list-in-line');
        item.classList.add('hide');
        
    }).then(async ()=>{
        completedPid = completedPid.filter(e=>e.vendor.name==="Kiewit");
       if(mode) setMode(mode); 
    }).then(()=>{
        // console.log(JSON.stringify(allAliases));
        // console.log(JSON.stringify(valuesByCategory));
    })

    pictureContainer.addEventListener('mousedown',(event)=>{
        if(event.target.tagName === "INPUT") return

        if(event.button===0){
            event.preventDefault();
            relocateHighlightsWithPicture(event);
        }

    
});
const zoom = zoomPicture.bind(null,picture);
pictureContainer.addEventListener('wheel',zoom);
// document.addEventListener('mousedown',handleMouseDown); //this enables drawing new highlights


let currentFileIndex = 0;
function switchPid(i){
    if(i>-1){
        let next = incompletePid[i];
        loadPictureWithLightFile(next);
        return next;
    } else {
        let next = completedPid[completedPid.length+i];
        loadPictureWithLightFile(next);
        return next;
    }
}
function goToNextPid(){
    let f = switchPid(++currentFileIndex);
    changeStatusButtonColor(f.completed);
}
function goToPreviousPid(){
    let f = switchPid(--currentFileIndex);
    changeStatusButtonColor(f.completed);
}

function toggleCurrentPidCompletedStatus(){
    let currentFile = getCurrent();
    let status = false;
    // console.log(JSON.stringify(currentFile))
    if(!currentFile.completed) status = true;
    currentFile.completed = status;
    updateFileStatus(currentFile.id,status);
    changeStatusButtonColor(status);
}

function changeStatusButtonColor(status){
    if(currentFileIndex<0){
        completeButton.textContent = "Mark as Incomplete";
        completeButton.classList.remove('btn-danger');
        completeButton.classList.add('btn-success');
    }else{
        completeButton.textContent = "Mark as Completed";
        completeButton.classList.remove('btn-success');
        completeButton.classList.add('btn-danger');
    }
}

function getCurrent(){
    if(currentFileIndex>-1)return incompletePid[currentFileIndex];
    else return completedPid[completedPid.length+currentFileIndex];
}




    </script>

</body>
</html>