<div class="nested-form-array-container">
  @if (formArray().length > 0) {
    @for (formGroup of getFormGroupsForCurrentContainer(); track $index) {
      <div class="form-item-wrapper" [formGroup]="asFormGroup(formGroup)">
        <button type="button" class="remove-button" (click)="removeItem($index)">X</button>

        <div class="form-sheet"
             [style.width.px]="getSheetSize().width * pixelsPerInch"
             [style.height.px]="getSheetSize().height * pixelsPerInch">
          @for (container of getContainers(); track container.id) {
            <div class="form-container" [ngStyle]="getContainerStyles(container)">
              @if (isFormField(container.content)) {
                @switch (asFormField(container.content).type) {
                  @case ('text') {
                    <app-invisible-input-field
                      [type]="'text'"
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [style]="asFormField(container.content).style">
                    </app-invisible-input-field>
                  }
                  @case ('textarea') {
                    <app-invisible-input-field
                      [type]="'textarea'"
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [style]="asFormField(container.content).style">
                    </app-invisible-input-field>
                  }
                  @case ('number') {
                    <app-invisible-input-field
                      type="number"
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [style]="asFormField(container.content).style">
                    </app-invisible-input-field>
                  }
                  @case ('date') {
                    <app-invisible-input-field
                      type="date"
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [style]="asFormField(container.content).style">
                    </app-invisible-input-field>
                  }
                  @case ('time') {
                    <app-invisible-input-field
                      type="time"
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [style]="asFormField(container.content).style">
                    </app-invisible-input-field>
                  }
                  @case ('select') {
                    <app-invisible-searchable-select
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [options]="asFormField(container.content).options || []"
                      [style]="asFormField(container.content).style">
                    </app-invisible-searchable-select>
                  }
                  @case ('multi-select') {
                    <app-invisible-searchable-multi-select
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [options]="asFormField(container.content).options || []"
                      [style]="asFormField(container.content).style">
                    </app-invisible-searchable-multi-select>
                  }
                  @case ('checkbox') {
                    <app-checkbox-x
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [id]="asFormField(container.content).name! + '_' + $index"
                      [style]="asFormField(container.content).style">
                    </app-checkbox-x>
                  }
                  @case ('radio') {
                    <app-radio-checkboxes
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [name]="asFormField(container.content).name! + '_' + $index"
                      [options]="asFormField(container.content).options || []">
                    </app-radio-checkboxes>
                  }
                  @case ('file') {
                    <app-invisible-input-field
                      type="file"
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [style]="asFormField(container.content).style">
                    </app-invisible-input-field>
                  }
                  @default {
                    <app-invisible-input-field
                      [formControl]="getFormControl(asFormGroup(formGroup), asFormField(container.content).name!)"
                      [style]="asFormField(container.content).style">
                    </app-invisible-input-field>
                  }
                }
              } @else if(container.contentType === 'text') {
                <div class="content-display" [ngStyle]="getContentStyles(container)">
                  {{ container.content }}
                </div>
              } @else if(container.contentType === 'variable') {
                <div class="content-display" [ngStyle]="getContentStyles(container)">
                  {{ asFormGroup(formGroup).get($any(container.content))?.value }}
                </div>
              }
            </div>
          }
        </div>
      </div>
    }

    <div class="add-item-section">
      <button type="button" class="add-button" (click)="addItem()">Add New Item</button>
    </div>
  } @else {
    <div class="empty-state">
      <p>No items yet</p>
      <button type="button" class="add-button" (click)="addItem()">Add First Item</button>
    </div>
  }
</div>
