<div class="image-container">
  <app-image-zoom-interactive
    [imageUrl]="currentFile()?.fileLink"
    [elements]="currentFileService.getElementsToRender()"
    (visibleShapes)="handleVisibleShapes($event)"
    (shapeSelected)="onShapeSelected($event)"
    (newShapeCreated)="onNewShapeCreated($event)">
  </app-image-zoom-interactive>
  
  <!-- New control section added at the bottom of the image container -->
  <div class="control-section">
    <div class="button-row">
      <button (click)="onMenuOpen()" class="control-button">Bulk Edit</button>
      <button (click)="onFilterMenuOpen()" class="control-button">Equipment Filter</button>
      <button (click)="onDataPresetMenuOpen()" class="control-button">Data Preset Menu</button>
      <button class="control-button">Link Equipment</button>
    </div>
  </div>
</div>

<app-file-bulk-editor-menu
[isOpen]="isMenuOpen()"
(closeEvent)="onCloseBulkEditMenu()"
[shapes]="visibleShapes()">
</app-file-bulk-editor-menu>

<app-floating-menu 
[title]="'Equipmnet Filter'"
(close)="onCloseEquipmentFilterMenu()"
[open]="isFilterMenuOpen()">
    <div class="checkbox-row">
      @for (eqType of selectedEqTypes(); track eqType.type) {
        <label class="checkbox-label">
          <input type="checkbox" 
                 [checked]="eqType.selected" 
                 (change)="onEqTypeChange(eqType)">
          {{ eqType.type }}
        </label>
      }
  </div></app-floating-menu>

  <app-data-preset-menu
  [isOpen]="isDataPresetMenuOpen()"
  (closeEvent)="onDataPresetMenuOpen()">
  </app-data-preset-menu>

  <app-popup-projection
    [isOpen]="isEqFormOpen()"
    [title]="'File Details'"
    [size]="'large'"
    (close)="closeEqForm()">
    
      <app-equipment-form
      [values]="currentEquipment()">
      </app-equipment-form>

  </app-popup-projection>
