<div class="image-container">
  @if (currentFile()) {
    @if(currentFile()?.fileLink?.endsWith('.jpg')){
      <app-image-zoom-interactive
        [imageUrl]="currentFile()?.fileLink"
        [elements]="currentFileService.getElementsToRender()"
        (visibleShapes)="handleVisibleShapes($event)"
        (shapeSelected)="onShapeSelected($event)"
        (newShapeCreated)="onNewShapeCreated($event)">
      </app-image-zoom-interactive>
    } @else if(currentFile()?.fileLink?.endsWith('.pdf')){
      <app-pdf-display-iframe [pdfSrc]="currentFile()?.fileLink"></app-pdf-display-iframe>
    }
  } @else {
    <div class="no-file-selected">
      <p>No file selected. Please select a file to view and edit.</p>
      <!-- You can add a button or other UI elements here to guide the user -->
      <!-- <button (click)="onSelectFile()" class="select-file-button">Select a File</button> -->
    </div>
  }

  
  <!-- New control section added at the bottom of the image container -->
  <div class="control-section">
    <div class="button-row">
      <button (click)="onMenuOpen()" class="control-button">Bulk Edit Equipment</button>
      <button (click)="openLpBulkEditMenu()" class="control-button">Bulk Edit Loto Points</button>
      <button (click)="onFilterMenuOpen()" class="control-button">Equipment Filter</button>
      <button (click)="onDataPresetMenuOpen()" class="control-button">Data Preset Menu</button>
      <button (click)="onToggleFileFormat()" class="control-button">Toggle PDF/JPG</button>
      <button (click)="toggleTextRecongnition()" class="control-button">
        @if (isTextRecongnitionEnabled()) {
          Disable Text Recognition
        } @else {
          Enable Text Recognition
        }
      </button>
    </div>
  </div>
</div>

<app-file-bulk-editor-menu
  [isOpen]="isMenuOpen()"
  (closeEvent)="onCloseBulkEditMenu()"
  [shapes]="visibleShapes()">
</app-file-bulk-editor-menu>

<app-loto-point-bulk-editor
  [shapes]="visibleShapes()"
  [isOpen]="isLpBulkEditOpen()"
  (closeEvent)="onCloseLpBulkEditMenu()"
>
</app-loto-point-bulk-editor>

<app-floating-menu 
[title]="'Equipmnet Filter'"
(close)="onCloseEquipmentFilterMenu()"
[open]="isFilterMenuOpen()">
    <div class="checkbox-row">
      @for (eqType of selectedEqTypes(); track eqType.type) {
        <label class="checkbox-label">
          <input type="checkbox" 
                 [checked]="eqType.selected" 
                 (change)="onEqTypeChange(eqType)">
          {{ eqType.type }}
        </label>
      }
  </div>
</app-floating-menu>

  <app-data-preset-menu
    [isOpen]="isDataPresetMenuOpen()"
    (closeEvent)="onDataPresetMenuOpen()">
  </app-data-preset-menu>

  <app-popup-projection
    [isOpen]="isEqFormOpen()"
    [title]="'Equipment Details'"
    [size]="'large'"
    (close)="closeEqForm()">
    
      <div class="form-container">
        <app-equipment-form
          [values]="currentEquipment()"
          (formSubmit)="submitEquipment($event)"
          (formDelete)="onEqDelete()"
          (addNewLotoPointEvent)="createNewLotoPoint($event)"
          (lotoPointRowRightClickEvent)="onLotoPointFormOpen($event)">
        </app-equipment-form>
      
        <button (click)="openTagNumberGenerator()" class="control-button generate-tag-button">Generate Tag</button>
      </div>
  </app-popup-projection>

  <app-popup-projection
    [isOpen]="isLotoPointFormOpen()"
    [title]="'Loto Point Details'"
    [size]="'large'"
    (close)="onLotoPointFormClose()">

    <div class="form-container">
      <app-loto-point-detail-form
        [values]="lpToEdit()"
        (formDelete)="onLotoPointFormDelete()"
        (formSubmit)="onLotoPointFormSubmit($event)">
      </app-loto-point-detail-form>
    
      <button (click)="openTagNumberGenerator()" class="control-button generate-tag-button">Generate Tag</button>
    </div>
  </app-popup-projection>

  

<app-popup-projection
  [isOpen]="isTagNumberGeneratorOpen()"
  (close)="closeTagNumberGenerator()">
  <app-tag-number-generator></app-tag-number-generator>
</app-popup-projection>
