<div class="multi-select-container">
  <label>{{ label }}</label>
  <div class="selected-options">
    @for (value of selectedValues; track value) {
      <div class="selected-option">
        @if (allOptions$ | async; as options) {
          {{ (options | find: 'value': value)!.label }}
        }
        <button type="button" (click)="removeOption(value)">X</button>
      </div>
    }
  </div>
  <app-searchable-dropdown
    [label]="''"
    [options]="availableOptions$"
    [closeOnSelect]="false"
    (valueChange)="onSelect($event)"
  ></app-searchable-dropdown>
</div>

<!-- <div class="multi-select-container">
  <label>{{ label }}</label>
  <div class="selected-options">
    @for (value of selectedValues; track value) {
      <div class="selected-option">
        {{ (options | find: 'value': value)?.label }}
        <button type="button" (click)="removeOption(value)">X</button>
      </div>
    }
  </div>
  <app-searchable-dropdown
    [label]="''"
    [options]="availableOptions"
    (valueChange)="onSelect($event)"
  ></app-searchable-dropdown>
</div> -->