:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  padding: 1rem;
}

app-work-request-table{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0; /* This is crucial for nested flex containers */
  overflow: auto;
}