<div class="loto-point-table-container">
  <!-- Error message display -->
  @if (errorMessage()) {
    <div class="error-message">
      {{ errorMessage() }}
    </div>
  }

  <!-- Loading indicator -->
  @if (isLoading()) {
    <div class="loading-indicator">
      Loading LOTO points...
    </div>
  }

  <!-- Comment cell template for table column -->
  <ng-template #commentCellTemplate let-item>
    <app-comment-cell
      [entityType]="'LotoPoint'"
      [entityId]="item.id">
    </app-comment-cell>
  </ng-template>

  <!-- Table component -->
  <app-table
    #tableComponent
    [tableId]="tableId()"
    [items]="items()"
    [columns]="columns()"
    [driftEntityType]="'LotoPoint'"
    [isTableIsolated]="isTableIsolated()"
    [columnUniqueOptions]="currentColumnUniqueItems()!"
    [isLoadingMore]="stateService.loadingUniqueItems()"
    [isDragAndDropEnabled]="enableDragDrop()"
    [hoverDebounceTime]="hoverDebounceTime()"
    [hoveredItemId]="hoveredItemId()"
    [scrollToItemId]="scrollToItemId()"
    [externalClickedItemId]="externalClickedItemId()"
    [filterOutItems]="filterOutItems()"
    [initialSearchCriteria]="initialSearchCriteria()"

    (search)="onSearch($event)"
    (sortChanged)="onTableSortChanged($event)"
    (loadMoreItems)="onLoadMore($event)"
    (loadInitialOptions)="loadUniqueItems($event.column, $event.filter)"
    (loadMoreOptions)="loadMoreUniqueItems($event.column, $event.filter)"
    (selectedItemsEvent)="onTableSelected($event)"
    (itemsReordered)="itemsReorderedEvent.emit($event)"
    (rowHoveredEvent)="rowHoveredEvent.emit($event)"
    (rowDoubleClicked)="rowDoubleClickedEvent.emit($event)"
    >

  </app-table>
</div>

<!-- Bulk Edit Form -->
<app-loto-point-bulk-edit-form
  [selectedItems]="currentSelection()"
  (bulkEditApplied)="onBulkEditApplied($event)"
></app-loto-point-bulk-edit-form>