<app-table
    [items]="items()"
    [columns]="columns"
    (rowClicked)="onRowClick($event)"
>
    <div table-controls>
        <app-buttons [buttons]="tableButtons()"></app-buttons>
    </div>
</app-table>

<app-popup
    [title]="'Select an Action'"
    [size]="'medium'"
    [isOpen]="isActionMenuOpen"
    (close)="closeActionMenu()"
>
    <app-buttons [buttons]="actionButtons" [layout]="'column'"></app-buttons>
</app-popup>

<app-popup
    [title]="'Create a New Space'"
    [size]="'medium'"
    [isOpen]="isNewSpacePopupOpen"
    (close)="closeNewSpacePopup()"
>
    <app-space-form
        [fieldsInput]="spaceStateService.newSpaceFormFields"
        (submitEvent)="onCreateNewSpace($event)"
    ></app-space-form>
</app-popup>