<!-- <div class="form-input" [ngStyle]="customStyle">
  @if (label && label!=='') {
  <div class="label-container">
    <label>{{ label }}</label>
  </div>
  }
    <input 
      [type]="type" 
      [value]="value" 
      [readonly]="readonly"
      (input)="onInputChange($event)"
      class="form-input-element">
</div> -->

<div class="form-input" [ngStyle]="customStyle">
  @if (label && label!=='') {
  <div class="label-container">
    <label>{{ label }}</label>
  </div>
  }
  @if (type === 'textarea') {
    <textarea
      [value]="value"
      [readonly]="readonly"
      [placeholder]="placeholder"
      (input)="onInputChange($event)"
      class="form-input-element">
    </textarea>
  } @else {
    <input
      [type]="type"
      [value]="value"
      [readonly]="readonly"
      [placeholder]="placeholder"
      (input)="onInputChange($event)"
      class="form-input-element">
  }
</div>