.tables-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.table-wrapper {
  flex: 1;
  min-width: 0; /* This prevents tables from overflowing their container */
}

.table-wrapper h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}


.equipment-forms-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.equipment-form-wrapper {
  flex: 1;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
  }
}