.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  max-width: 90%;
  max-height: 90vh;
  width: 100%; /* Ensure it takes full width up to max-width */
  height: 100%; /* Ensure it takes full height up to max-height */
}

.popup-header {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; /* Prevent header from shrinking */
  color: var(--primary-text);
}

.popup-body {
  flex: 1;
  overflow: hidden; /* Hide overflow at this level */
  display: flex;
  flex-direction: column;
  min-height: 0
}

.popup-scroll-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* This is crucial for nested flex containers */
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--secondary-text);
  transition: color 0.2s ease;
}

.close-button:hover {
  color: var(--primary-text);
}

.popup-small {
  width: 300px;
}

.popup-medium {
  width: 500px;
}

.popup-large {
  /* width: 800px; */
  width: 90vw;
}

@media (max-width: 768px) {
  .popup-content {
    width: 95%;
    max-height: 95vh;
  }
  
  .popup-small, .popup-medium, .popup-large {
    width: 100%;
  }
}