<div class="left-panel-container"
     appGuide="create-loto-point-bulk:left-panel-files"
     guideMessage="Select the Files tab to browse P&ID files. Click on a file to load it in the viewer."
     [guideTooltipOnly]="true">
  <!-- Header with Tabs and Mode Toggle -->
  <div class="panel-header">
    <!-- Tabs -->
    <div class="tabs">
      <button
        class="tab-button"
        [class.active]="builderState.leftMenuTab() === 'file'"
        (click)="selectFileTab()"
        appReactiveGuide="loto-builder-full:files-tab"
        reactiveGuideMessage="Click to view files"
      >
        📁 Files
      </button>
      <button
        class="tab-button"
        [class.active]="builderState.leftMenuTab() === 'loto-point'"
        (click)="selectLotoPointTab()"
      >
        🔒 LOTO Points
      </button>
    </div>

    <!-- Mode Toggle -->
    <div class="mode-toggle" appContextualGuide="contextual:toggle-view-button">
      <button
        class="mode-button"
        [class.active]="builderState.displayMode() === 'table'"
        (click)="toggleDisplayMode()"
        title="Table View"
      >
        <mat-icon>view_list</mat-icon>
      </button>
      <button
        class="mode-button"
        [class.active]="builderState.displayMode() === 'toggle-menu'"
        (click)="toggleDisplayMode()"
        title="Tree View"
      >
        <mat-icon>account_tree</mat-icon>
      </button>
    </div>
  </div>

  <!-- Content Area -->
  <div class="panel-content"
       appGuide="create-loto-point-bulk:file-menu"
       guideMessage="Expand folders and click on a P&ID file to load it. The file will be displayed on the right."
       [guideTooltipOnly]="true"
       appReactiveGuide="loto-builder-full:file-tree"
       reactiveGuideMessage="Expand folders and click on a file to load it"
       [reactiveGuideTooltipOnly]="true"
       appContextualGuide="contextual:file-tree">
    @if (builderState.leftMenuTab() === 'file') {
      @if (builderState.displayMode() === 'toggle-menu') {
        <app-rf-file-left-menu></app-rf-file-left-menu>
      } @else {
        <app-loto-builder-file-table
          [tableId]="'loto-builder-file-table'"
          [isTableIsolated]="false"
          [loadMoreEnabled]="true"
          [enableDragDrop]="false"
        ></app-loto-builder-file-table>
      }
    } @else {
      @if (builderState.displayMode() === 'toggle-menu') {
        <app-loto-builder-loto-point-left-menu></app-loto-builder-loto-point-left-menu>
      } @else {
        <app-loto-builder-loto-point-table
          [tableId]="'loto-builder-loto-point-table'"
          [isTableIsolated]="false"
          [loadMoreEnabled]="true"
          [enableDragDrop]="false"
        ></app-loto-builder-loto-point-table>
      }
    }
  </div>
</div>
