# Dependencies
node_modules/
src/renderer/node_modules/

# Build output
dist/
release/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Electron
*.asar

# Angular cache
src/renderer/.angular/

# Temporary files
*.tmp
*.temp
