<app-floating-menu 
  [title]="'Bulk Edit Menu'" 
  [width]="30" 
  [height]="40" 
  [position]="MenuPosition.BottomRight"
  [open]="isOpen()"
  (close)="handleClose()">

  <app-loto-point-simple-table
  [initialItems]="lotoPoints$"
  (leftClickEvent)="onLotoPointSelected($event)"
  (cellDboubleClickEvent)="onEquipmentEdit($event.item, $event.column)"
>
  @if(selectedItems().length > 0) {
    <div table-controls>
      <button (click)="applyPresetValues()">Apply Preset Values</button>
    </div>
  }
</app-loto-point-simple-table>

</app-floating-menu>

@if (isPopupOpen) {
    <app-popup-projection
      [isOpen]="isPopupOpen"
      [title]="'Equipment Details'"
      [size]="'medium'"
      (close)="onClosePopup()">
      
      <app-details-form
        [fields]="fields"
        [values]="itemToEdit()"
        [layout]="'reactive'"
        (formSubmit)="onFormSubmit($event)">
      </app-details-form>
    
    </app-popup-projection>
}

