<!-- <div class="container-list-wrapper">
  <div class="list-header">
    <h4>Layers</h4>
  </div>
  <ul class="container-list">
    @for (container of containers(); track container.id) {
      <li 
        class="container-item"
        [class.selected]="isSelected(container)"
        (mouseenter)="onHover(container)"
        (mouseleave)="onHover(null)"
        (click)="selectContainer(container,$event)"
        (contextmenu)="onRightClick(container,$event)">
        <span class="container-icon">■</span>
        <span class="container-name">{{ getContainerName(container) }}</span>
      </li>
    } @empty {
      <li class="empty-message">No layers found.</li>
    }
  </ul>
</div> -->
<div class="container-list-wrapper">
  <div class="list-header">
    <h4>Layers</h4>
  </div>
  <ul class="container-list" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (container of containers(); track container.id) {
      <li 
        cdkDrag
        class="container-item"
        [class.selected]="isSelected(container)"
        (mouseenter)="onHover(container)"
        (mouseleave)="onHover(null)"
        (click)="selectContainer(container,$event)"
        (contextmenu)="onRightClick(container,$event)">
        <!-- <span class="container-icon">■</span> -->
        <span class="container-icon">
          @if(container.locked){
            <span class="lock-icon">🔒</span>
          } @else {
            <span>■</span>
          }
        </span>
        <span class="container-name">{{ getContainerName(container) }}</span>
      </li>
    } @empty {
      <li class="empty-message">No layers found.</li>
    }
  </ul>
</div>
