<div
  class="floating-window"
  [class.dragging]="isDragging()"
  [class.resizing]="isResizing()"
  [style.transform]="windowStyle().transform"
  [style.width]="windowStyle().width"
  [style.height]="windowStyle().height"
  [style.z-index]="windowStyle().zIndex"
  (mousedown)="onWindowClick()"
>
  <!-- Header (draggable area) -->
  @if (showHeader()) {
    <div
      class="window-header"
      [class]="headerClass()"
      (mousedown)="onDragStart($event)"
    >
      <ng-content select="[window-header]"></ng-content>
    </div>
  }

  <!-- Content area -->
  <div class="window-content">
    <ng-content></ng-content>
  </div>

  <!-- Footer (optional) -->
  <ng-content select="[window-footer]"></ng-content>

  <!-- Resize handles -->
  @if (resizable()) {
    <!-- Edge handles -->
    <div
      class="resize-handle resize-n"
      (mousedown)="onResizeStart($event, 'n')"
    ></div>
    <div
      class="resize-handle resize-s"
      (mousedown)="onResizeStart($event, 's')"
    ></div>
    <div
      class="resize-handle resize-e"
      (mousedown)="onResizeStart($event, 'e')"
    ></div>
    <div
      class="resize-handle resize-w"
      (mousedown)="onResizeStart($event, 'w')"
    ></div>

    <!-- Corner handles -->
    <div
      class="resize-handle resize-ne"
      (mousedown)="onResizeStart($event, 'ne')"
    ></div>
    <div
      class="resize-handle resize-nw"
      (mousedown)="onResizeStart($event, 'nw')"
    ></div>
    <div
      class="resize-handle resize-se"
      (mousedown)="onResizeStart($event, 'se')"
    ></div>
    <div
      class="resize-handle resize-sw"
      (mousedown)="onResizeStart($event, 'sw')"
    ></div>
  }
</div>
