
  <div class="table-wrapper">
    <div class="table-header">
      <h3>Selected LOTO Points</h3>
      <span class="item-count">{{ doubleTableService.currentSelectedItems().length }} items</span>
    </div>
    <app-rf-loto-point-table
      [tableId]="'double-table-destination'"
      [inputItems]="doubleTableService.currentSelectedItems()"
      [isTableIsolated]="true"
      [enableDragDrop]="true"
      [canReorder]="canReorder()"
      [loadMoreEnabled]="false"
      [fieldsToDisplay]="destinationFields"
      (itemsReorderedEvent)="onItemsReordered($event)"
      (removeFromStandardClick)="onRemoveFromStandard($event)">
    </app-rf-loto-point-table>
  </div>
