
<div class="filter-input-container">
  <div class="input-wrapper">
    <input 
      #inputElement
      type="text" 
      class="filter-input"
      [value]="filterValue()"
      (input)="onInputChange($event)"
      (focus)="onInputFocus($event)"
      (blur)="onInputBlur($event)"
      placeholder="Filter..."
    />
    <button 
      *ngIf="filterValue()" 
      (click)="clearFilter()" 
      class="clear-btn-inline"
      type="button"
      (mousedown)="$event.preventDefault()"
    >
      ✕
    </button>
  </div>
  
  <div class="filter-dropdown" *ngIf="filterDropdownOpen()" [ngStyle]="dropdownStyle()">
    <div 
      #optionsList
      class="options-list"
      (scroll)="onOptionsScroll($event)"
    >
      <div 
        *ngFor="let option of uniqueValues()" 
        class="option"
        (click)="selectOption(option)"
      >
        {{ option }}
      </div>
      
      <div *ngIf="uniqueValues().length === 0" class="option disabled">
        No options found
      </div>
      
      <div *ngIf="isLoadingMore()" class="loading-indicator">
        <span class="spinner"></span>
        Loading more...
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="filter-input-container">
  <div class="input-wrapper">
    <input 
      #inputElement
      type="text" 
      class="filter-input"
      [value]="filterValue()"
      (input)="onInputChange($event)"
      (focus)="onInputFocus($event)"
      (blur)="onInputBlur($event)"
      placeholder="Filter..."
    />
    <button 
      *ngIf="filterValue()" 
      (click)="clearFilter()" 
      class="clear-btn-inline"
      type="button"
      (mousedown)="$event.preventDefault()"
    >
      ✕
    </button>
  </div>
  
  <div class="filter-dropdown" *ngIf="filterDropdownOpen()" [ngStyle]="dropdownStyle()">
    <div 
      #optionsList
      class="options-list"
      (scroll)="onOptionsScroll($event)"
    >
      <div 
        *ngFor="let option of filteredOptions()" 
        class="option"
        (click)="selectOption(option)"
      >
        {{ option }}
      </div>
      
      <div *ngIf="filteredOptions().length === 0" class="option disabled">
        No options found
      </div>
      
      <div *ngIf="isLoadingMore()" class="loading-indicator">
        <span class="spinner"></span>
        Loading more...
      </div>
    </div>
  </div>
</div> -->