<div [ngClass]="'buttons-' + layout()">
  <button
    *ngFor="let button of buttons()"
    [ngClass]="[
      'button',
      button.class || '',
      'color-' + getColorValue(button.color)
    ]"
    [disabled]="button.disabled"
    (click)="onButtonClick(button)"
    [matTooltip]="button.tooltip || ''"
    [class.has-icon]="button.icon"
  >
    <mat-icon *ngIf="button.icon" class="button-icon">{{
      isString(button.icon) ? button.icon : button.icon()
    }}</mat-icon>
    <span>{{ isString(button.name) ? button.name : button.name() }}</span>
  </button>
</div>
