<div [ngClass]="['buttons-' + layout(), 'density-' + density()]">
  <button
    *ngFor="let button of buttons()"
    [ngClass]="[
      'button',
      button.class || '',
      'color-' + getColorValue(button.color)
    ]"
    [disabled]="button.disabled"
    (click)="onButtonClick(button)"
    [matTooltip]="tooltipOf(button)"
    [class.has-icon]="button.icon"
    [appGuide]="button.guideId || ''"
    [guideMessage]="button.guideMessage || ''"
  >
    <mat-icon *ngIf="button.icon" class="button-icon">{{
      isString(button.icon) ? button.icon : button.icon()
    }}</mat-icon>
    <span class="button-label">{{ labelOf(button) }}</span>
  </button>
</div>
