  <div class="loto-standard-form">

  <div class="form-fields">
    <!-- Name and Description inputs side by side -->
    <div class="form-field-row">
      <div class="form-field">
        <label for="name">Name:</label>
        <input id="name" type="text" [(ngModel)]="lotoStandard()().name" (ngModelChange)="onNameChange()" (blur)="onNameSubmit()">
      </div>

      <div class="form-field">
        <label for="description">Description:</label>
        <input id="description" type="text" [(ngModel)]="lotoStandard()().description" (ngModelChange)="onDescriptionChange()" (blur)="onDescriptionSubmit()">
      </div>
    </div>
  </div>
  
    <!-- LOTO Points table -->
    <div class="table-wrapper">
      <h3>LOTO Points</h3>
      <app-loto-point-simple-table
        [initialItems]="lotoPoints()"
        [isReorderEnabled]="true"
        (doubleClickEvent)="removePoint($event)"
        (leftClickEvent)="showPoint($event)"
        (itemReordered)="submitReorderdItems($event)">
      ></app-loto-point-simple-table>
    </div>
  </div>