@if (question()) {
  <div class="qa-popup">
    <div class="qa-popup-content">
      <button class="close-btn" (click)="closePopup()">×</button>
      <h2>Additional Information</h2>
      <p>{{ question()?.content }}</p>
      @if (files() && files().length > 0) {
        <div class="qa-links">
          <h3>Related Resources:</h3>
          <ul>
            @for (link of question()?.files; track link) {
              <li>
                <a [href]="link" (click)="handleLinkClick($event, link)">
                  {{ link }}
                </a>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}