<app-main-layout>
  <ng-container header>
    <div class="header-menus">
      <div class="menu-container">
        <app-router-menu [layout]="'row'"></app-router-menu>
      </div>
      <div class="menu-container">
        
      </div>
    </div>
  </ng-container>
  <ng-container main-content>
    <app-loto-point-table
        [cellDoubleClickCallback]="cellDoubleClick.bind(this)"
    ></app-loto-point-table>
  </ng-container>
</app-main-layout>


<!-- <app-loto-point-table
    [cellDoubleClickCallback]="cellDoubleClick.bind(this)"
></app-loto-point-table>

@if (isPopupOpen) {
    <app-popup-projection
      [isOpen]="isPopupOpen"
      [title]="'LOTO Point Details'"
      [size]="'medium'"
      (close)="onClosePopup()">
      
      <app-details-form
        [fields]="fields"
        [values]="lotoPointToEdit"
        [layout]="'reactive'"
        (formSubmit)="onFormSubmit($event)"
        (formDelete)="onFormDelete()">
      </app-details-form>
    
    </app-popup-projection>
} -->
