@if (formDefinition()) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

  @if (!readOnly()) {
    <div class="form-actions">
      <button type="button" (click)="onSubmit()">Submit</button>
      <button type="button" (click)="print()">Print</button>
    </div>
  }
    @for (page of pages(); track page.pageNumber) {
      <div class="form-sheet" [style.width.px]="sheetSize().width * pixelsPerInch" [style.height.px]="sheetSize().height * pixelsPerInch">
        @for (container of page.containers; track container.id) {
          <app-form-container-renderer
            [container]="container"
            [form]="form"
            (arrayItemAdded)="onArrayItemAdded($event)"
            (arrayItemRemoved)="onArrayItemRemoved($event)"
            [readOnly]="readOnly()"
            [formData]="formData()">
          </app-form-container-renderer>
        }
      </div>
    }
  </form>
}

<!-- @if (formDefinition()) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

  @if (!readOnly()) {
    <div class="form-actions">
      <button type="button" (click)="onSubmit()">Submit</button>
      <button type="button" (click)="print()">Print</button>
    </div>
  }
    @for (page of pages(); track page.pageNumber) {
      <div class="form-sheet" [style.width.px]="sheetSize().width * pixelsPerInch" [style.height.px]="sheetSize().height * pixelsPerInch">
        @for (container of page.containers; track container.id) {
          <div class="form-container" [ngStyle]="getContainerStyles(container)">
            @if (isFormField(container.content)) {
              @switch (asFormField(container.content).type) {
                @case ('text') {
                  <app-invisible-input-field
                    [formControl]="getFormControl(asFormField(container.content).name!)"
                    [style]="asFormField(container.content).style">
                  </app-invisible-input-field>
                }
                @case ('number') {
                  <app-invisible-input-field
                    type="number"
                    [formControl]="getFormControl(asFormField(container.content).name!)"
                    [style]="asFormField(container.content).style">
                  </app-invisible-input-field>
                }
                @case ('date') {
                  <app-invisible-input-field
                    type="date"
                    [formControl]="getFormControl(asFormField(container.content).name!)"
                    [style]="asFormField(container.content).style">
                  </app-invisible-input-field>
                }
                @case ('select') {
                  <app-invisible-searchable-select
                    [formControl]="getFormControl(asFormField(container.content).name!)"
                    [options]="asFormField(container.content).options || []"
                    [style]="asFormField(container.content).style">
                  </app-invisible-searchable-select>
                }
                @case ('multi-select') {
                  <app-invisible-searchable-multi-select
                    [formControl]="getFormControl(asFormField(container.content).name!)"
                    [options]="asFormField(container.content).options || []"
                    [style]="asFormField(container.content).style">
                  </app-invisible-searchable-multi-select>
                }
                @case ('checkbox') {
                  <app-chekcbox-x
                    [formControl]="getFormControl(asFormField(container.content).name!)"
                    [id]="asFormField(container.content).name!+formData().id"
                    [style]="asFormField(container.content).style">
                  </app-chekcbox-x>
                }
                @case ('radio') {
                  <app-radio-checkboxes
                    [formControl]="getFormControl(asFormField(container.content).name!)" 
                    [name]="asFormField(container.content).name!"
                    [options]="[true, false]">
                  </app-radio-checkboxes>

                }
                @case ('form-array') {
                  <app-nested-form-input
                    [formControl]="getFormControl(asFormField(container.content).name!)"
                  ></app-nested-form-input>

                }
              }
            } @else if(container.contentType==='text') {
              <div class="content-display" [ngStyle]="getContentStyles(container)">
                {{ container.content }}
              </div>
            }@else if(container.contentType==='variable') {
              <div class="content-display" [ngStyle]="getContentStyles(container)">
                {{ getFormControlValue($any(container.content)) | async }}
              </div>
            }
          </div>
        }
      </div>
    }
  </form>
} -->
